@use "../colors/prefers-color-scheme.scss" as *;

/// Colors variables for header and footer
/// @group colors
/// @require {mixin} prefers-color-scheme - DRY color scheme helper
/// @see {mixin} h1 - Styles for h1 in header
/// @see {mixin} footer - Styles for footer
/// @see {mixin} colors-config - Configurable primary color variables
/// @see {mixin} colors-calc - Calculated secondary color variables
/// @see {mixin} colors - General color variable styles

@mixin colors-header-footer {
  --skyHue3: 0;
  --skyHue2: 30;
  --skyHue1: 60;
  --seaHue1: 180;
  --seaHue2: 210;
  --seaHue3: 240;

  &[data-theme="warmer"] {
    --skyHue3: 30;
    --skyHue2: 45;
    --skyHue1: 60;
    --seaHue1: 30;
    --seaHue2: 15;
    --seaHue3: 00;
  }
  &[data-theme="cooler"] {
    --skyHue3: 210;
    --skyHue2: 195;
    --skyHue1: 180;
    --seaHue1: 210;
    --seaHue2: 225;
    --seaHue3: 240;
  }
  &[data-theme="alien"] {
    --skyHue3: 0;
    --skyHue2: 330;
    --skyHue1: 345;
    --seaHue1: 285;
    --seaHue2: 270;
    --seaHue3: 240;
  }

  @include prefers-color-scheme("light") {
    --cloudLight: hsl(
      from var(--cloudColor) h calc(var(--sm) * 2) calc(100% / 2) / 50%
    );
    --cloudColor: hsl(var(--skyHue1) calc(var(--sm) * 2) calc(100% / 2) / 25%);
    --skyColor3: hsl(var(--skyHue3) calc(var(--sm) * 2) calc(50% / 2));
    --skyColor2: hsl(var(--skyHue2) calc(var(--sm) * 2) calc(75% / 2));
    --skyColor1: hsl(var(--skyHue1) calc(var(--sm) * 2) calc(100% / 2));
    --skyMist: hsl(var(--skyHue1) calc(var(--sm) * 2) 87.5%);
    --seaMist: hsl(var(--seaHue1) calc(var(--sm) * 2) 87.5%);
    --seaColor1: hsl(var(--seaHue1) calc(var(--sm) * 2) calc(100% / 2));
    --seaColor2: hsl(var(--seaHue2) calc(var(--sm) * 2) calc(75% / 2));
    --seaColor3: hsl(var(--seaHue3) calc(var(--sm) * 2) calc(50% / 2));
    --swellColor: hsl(var(--seaHue1) calc(var(--sm) * 2) calc(100% / 2) / 25%);
    --swellLight: hsl(
      from var(--swellColor) h calc(var(--sm) * 2) calc(100% / 2) / 50%
    );
  }

  @include prefers-color-scheme("dark") {
    --cloudLight: hsl(
      from var(--cloudColor) h calc(var(--sm) * 2) calc(100% / 2) / 50%
    );
    --cloudColor: hsl(var(--skyHue1) calc(var(--sm) * 2) calc(75% / 2) / 25%);
    --skyColor3: hsl(var(--skyHue3) calc(var(--sm) * 2) calc(50% / 2));
    --skyColor2: hsl(var(--skyHue2) calc(var(--sm) * 2) calc(25% / 2));
    --skyColor1: hsl(var(--skyHue1) calc(var(--sm) * 2) calc(12.5% / 2));
    --skyMist: hsl(var(--skyHue1) calc(var(--sm) * 2) calc(6.25% / 2));
    --seaMist: hsl(var(--seaHue1) calc(var(--sm) * 2) calc(6.25% / 2));
    --seaColor1: hsl(var(--seaHue1) calc(var(--sm) * 2) calc(12.5% / 2));
    --seaColor2: hsl(var(--seaHue2) calc(var(--sm) * 2) calc(25% / 2));
    --seaColor3: hsl(var(--seaHue3) calc(var(--sm) * 2) calc(50% / 2));
    --swellColor: hsl(var(--seaHue1) calc(var(--sm) * 2) calc(75% / 2) / 25%);
    --swellLight: hsl(
      from var(--swellColor) h calc(var(--sm) * 2) calc(100% / 2) / 50%
    );
  }
}
