<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# Forward everything to PrevHP except requests in PrevHP directories
RewriteCond %{REQUEST_URI} !/__
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* ___structure/html.php [L]

# Redirect requests to directories within __scripts to .js files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(__scripts/.+)$ $1.js [L]

</IfModule>