@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans&family=Princess+Sofia&display=swap");
/* Main colors */
/* Main hue ramp */
/* Main hue shades */
/* Main hue tints */
/* Cooler hue ramp */
/* Cooler hue shades */
/* Cooler hue tints */
/* Warmer hue ramp */
/* Warmer hue shades */
/* Warmer hue tints */
html {
  height: 100%;
  background: black;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1pc;
  line-height: 1;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

section,
header,
footer,
main {
  display: block;
}

a {
  border: 0;
  color: black;
  text-decoration: underline;
  text-shadow: 1pt 1pt 1pt rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: color 0.5s, text-shadow 0.5s;
}
a:link, a:visited {
  color: #396039;
}
a:hover {
  color: #437043;
}
a:active {
  color: #4d804d;
}
a:hover, a:active {
  text-shadow: 1pt 1pt 1pt rgba(0, 0, 0, 0.125);
}
a img {
  border: 0;
}

code {
  white-space: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  padding: 1rem;
  border: none;
  outline: none;
  color: #396039;
  font-family: Handlee, "Open Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 1.25;
  text-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0);
  transition: all 1s;
  position: relative;
  overflow-wrap: anywhere;
}
h1:hover, h1:focus, h1:active, *:hover > h1, *:focus > h1, *:active > h1,
h2:hover,
h2:focus,
h2:active,
*:hover > h2,
*:focus > h2,
*:active > h2,
h3:hover,
h3:focus,
h3:active,
*:hover > h3,
*:focus > h3,
*:active > h3,
h4:hover,
h4:focus,
h4:active,
*:hover > h4,
*:focus > h4,
*:active > h4,
h5:hover,
h5:focus,
h5:active,
*:hover > h5,
*:focus > h5,
*:active > h5,
h6:hover,
h6:focus,
h6:active,
*:hover > h6,
*:focus > h6,
*:active > h6 {
  text-shadow: 0.0625em 0.0625em 0.0625em rgba(0, 0, 0, 0.125);
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  white-space: nowrap;
}

h1 {
  font-size: calc(1.5rem + 1.2vmin);
}

h2 {
  font-size: calc(1.4rem + 1vmin);
}

h3 {
  font-size: calc(1.3rem + 0.8vmin);
}

h4 {
  font-size: calc(1.2rem + 0.6vmin);
}

h5 {
  font-size: calc(1.1rem + 0.4vmin);
}

h6 {
  font-size: calc(1rem + 0.2vmin);
}

@keyframes windAndWaves {
  from {
    background-size: 100% 100%, auto;
  }
  to {
    background-size: 100% 200%, auto;
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
  max-height: 100vh;
  padding: 0;
  border: 0;
  background: black;
  color: black;
  text-align: center;
  overflow-y: hidden;
  display: flex;
  flex-flow: column;
}
@media (min-width: 40rem) {
  header {
    top: calc(-1 * (3 * max(1.5rem, 4vw) + 2vw + 0.5rem));
    overflow-y: visible;
  }
}
@media only print {
  header {
    display: none;
  }
}
header h1, header:hover h1 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 128, 0) 0%, rgba(255, 255, 128, 0.125) 18.75%, rgba(255, 255, 128, 0) 25%, rgba(255, 255, 128, 0.125) 34.375%, rgba(255, 255, 128, 0) 37.5%, rgba(255, 255, 128, 0.125) 42.1875%, rgba(255, 255, 128, 0) 43.75%, rgba(255, 255, 128, 0.125) 46.09375%, rgba(255, 255, 128, 0) 46.875%, rgba(255, 255, 128, 0.125) 48.046875%, rgba(255, 255, 128, 0) 48.4375%, rgba(255, 255, 128, 0.125) 49.0234375%, rgba(255, 255, 128, 0) 49.21875%, rgba(255, 255, 128, 0.125) 49.51171875%, rgba(255, 255, 128, 0) 49.609375%, rgba(255, 255, 128, 0.125) 49.755859375%, rgba(255, 255, 128, 0) 49.8046875%, rgba(255, 255, 128, 0.125) 49.8779296875%, rgba(255, 255, 128, 0) 49.90234375%, rgba(255, 255, 128, 0.125) 49.9389648438%, rgba(255, 255, 128, 0) 49.951171875%, rgba(128, 255, 255, 0) 50.048828125%, rgba(128, 255, 255, 0.125) 50.0854492188%, rgba(128, 255, 255, 0) 50.09765625%, rgba(128, 255, 255, 0.125) 50.1708984375%, rgba(128, 255, 255, 0) 50.1953125%, rgba(128, 255, 255, 0.125) 50.341796875%, rgba(128, 255, 255, 0) 50.390625%, rgba(128, 255, 255, 0.125) 50.68359375%, rgba(128, 255, 255, 0) 50.78125%, rgba(128, 255, 255, 0.125) 51.3671875%, rgba(128, 255, 255, 0) 51.5625%, rgba(128, 255, 255, 0.125) 52.734375%, rgba(128, 255, 255, 0) 53.125%, rgba(128, 255, 255, 0.125) 55.46875%, rgba(128, 255, 255, 0) 56.25%, rgba(128, 255, 255, 0.125) 60.9375%, rgba(128, 255, 255, 0) 62.5%, rgba(128, 255, 255, 0.125) 71.875%, rgba(128, 255, 255, 0) 75%, rgba(128, 255, 255, 0.125) 93.75%, rgba(128, 255, 255, 0) 100%), linear-gradient(to bottom, #600 0%, #963 25%, #ff8 48%, #efd 50%, #dfe 50%, #8ff 52%, #369 75%, #006 100%);
  background-size: 100% 100%, auto;
  background-position: center, center, center;
  margin: 0 auto;
  padding: 1vw 3vw;
  border: 0.25em solid black;
  border-radius: 0.5em;
  outline: 1px solid black;
  color: black;
  font-family: "Princess Sofia", "Open Sans", sans-serif;
  font-size: max(1.5rem, 4vw);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  letter-spacing: 0.1em;
  line-height: 2;
  transition: all 1s;
  animation-name: windAndWaves;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0, 0, 1, 0.75);
  cursor: pointer;
}
header h1::before, header:hover h1::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: center/contain no-repeat url(/images/logo.png);
  flex-shrink: 0;
}
header h1::after, header:hover h1::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: center/contain no-repeat url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0.0em" y="0.0em" width="1.0em" height="1.0em" viewBox="0 0 1.0em 1.0em" ><rect x="0.0em" y="0.0em" width="1.0em" height="0.2em" /><rect x="0.0em" y="0.4em" width="1.0em" height="0.2em" /><rect x="0.0em" y="0.8em" width="1.0em" height="0.2em" /></svg>');
  flex-shrink: 0;
}
header h1 > span, header:hover h1 > span {
  flex-grow: 1;
  flex-basis: 100%;
}
header h1 > span > span, header:hover h1 > span > span {
  display: none;
}
@media (min-width: 20rem) {
  header h1 > span > span, header:hover h1 > span > span {
    display: inline;
  }
}
header h1 > span:first-of-type, header:hover h1 > span:first-of-type {
  display: none;
}
@media (min-width: 40rem) {
  header h1, header:hover h1 {
    background-size: 100% 100%, auto;
    text-shadow: none;
    padding: 1vw;
    border: 0.5rem solid black;
    border-radius: 6.25vw 6.25vw 0 0;
    box-shadow: inset 0 0 0.5vw 0 #0008, inset 0 0 0 0.5vw #000c;
  }
  header h1:hover, header:hover h1:hover {
    color: #396039;
    text-shadow: 0.0125em 0.0125em 0.0125em #000, 0.025em 0.025em 0.025em #0008, 0.05em 0.05em 0.05em #0004, 0.1em 0.1em 0.1em #0002;
  }
  header h1::before, header:hover h1::before {
    width: 3em;
    height: 3em;
  }
  header h1::after, header:hover h1::after {
    display: none;
  }
  header h1 > span:first-of-type, header:hover h1 > span:first-of-type {
    display: inline;
    order: -1;
  }
}
header a {
  text-decoration: none;
}

@keyframes waves {
  from {
    background-size: 100% 100%, auto;
  }
  to {
    background-size: 100% 200%, auto;
  }
}
footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.0625) 12.5%, rgba(255, 255, 255, 0) 25%, rgba(255, 255, 255, 0.0625) 31.25%, rgba(255, 255, 255, 0) 37.5%, rgba(255, 255, 255, 0.0625) 40.625%, rgba(255, 255, 255, 0) 43.75%, rgba(255, 255, 255, 0.0625) 45.3125%, rgba(255, 255, 255, 0) 46.875%, rgba(255, 255, 255, 0) 53.125%, rgba(255, 255, 255, 0.0625) 54.6875%, rgba(255, 255, 255, 0) 56.25%, rgba(255, 255, 255, 0.0625) 59.375%, rgba(255, 255, 255, 0) 62.5%, rgba(255, 255, 255, 0.0625) 68.75%, rgba(255, 255, 255, 0) 75%, rgba(255, 255, 255, 0.0625) 87.5%, rgba(255, 255, 255, 0) 100%), linear-gradient(to bottom, #afcfcf 0%, #609f9f 50%, #afcfcf 100%);
  background-size: 100% 100%, auto;
  background-position: center, center;
  border-top: 3pt ridge #cfcfaf;
  color: #9f9f60;
  text-align: center;
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.25) inset;
  animation-name: waves;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
footer p {
  margin: 0;
  padding: 1em;
}
footer a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
footer a:link {
  color: #e2e2cf;
}
footer a:hover {
  color: #ececdf;
}
footer a:active {
  color: #f5f5ef;
}
footer a:visited {
  color: #c6c69f;
}
@media only print {
  footer {
    display: none;
  }
}

#menu {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  padding-right: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  position: relative;
  z-index: 1;
}
@media (min-width: 40rem) {
  #menu {
    flex-flow: row wrap;
    max-height: auto;
    min-height: auto;
    overflow-x: visible;
    overflow-y: visible;
    background-position-y: 0;
  }
}
@media only print {
  #menu {
    display: none;
  }
}
#menu > a {
  display: block;
  float: left;
  order: -1;
  margin: 0;
  margin-left: 0.5em;
  margin-bottom: -2em;
  padding: 0 1em;
  padding-bottom: 2em;
  border: none;
  border-top: 0px solid white;
  outline: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: linear-gradient(to bottom, #8fbcbc 0%, #305050 50%, #0a1010 100%);
  background-size: 100% 200%;
  background-position-y: 6.25%;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 2;
  flex: 1 1 auto;
  box-shadow: 1pt 1pt 0pt rgba(255, 255, 255, 0) inset, -1pt 0pt 0pt rgba(0, 0, 0, 0) inset, 1pt 1pt 0 0 rgba(0, 0, 0, 0.0625) inset;
  transition: all 0.5s;
}
#menu > a:nth-of-type(4) {
  color: #eff5f5;
  border-top-color: #eff5f5;
  background-position-y: 12.5%;
}
#menu > a:nth-of-type(3) {
  color: #dfecec;
  border-top-color: #dfecec;
  background-position-y: 25%;
}
#menu > a:nth-of-type(2) {
  color: #afcfcf;
  border-top-color: #afcfcf;
  background-position-y: 50%;
}
#menu > a:nth-of-type(1) {
  color: #609f9f;
  border-top-color: #609f9f;
  background-position-y: 100%;
}
#menu > a:hover, #menu > a:focus, #menu > a:active {
  color: black;
  box-shadow: 1pt 1pt 0pt rgba(255, 255, 255, 0.75) inset, -1pt 0pt 0pt rgba(0, 0, 0, 0.25) inset, 1pt 1pt 0 0 rgba(0, 0, 0, 0) inset;
  background-position-y: 0%;
}
#menu > a:last-of-type {
  color: black;
  position: relative;
  border: 1pt outset #9fc6c6;
  border-bottom: none;
  background: linear-gradient(to bottom, white 0%, #cfe2e2 50%, #cfe2e2 100%);
  background-size: 100% 200%;
  background-position-y: 100%;
  text-decoration: none;
  box-shadow: 1pt 1pt 0pt rgba(255, 255, 255, 0) inset, -1pt 0pt 0pt rgba(0, 0, 0, 0) inset;
}
#menu > a:last-of-type:hover, #menu > a:last-of-type:focus, #menu > a:last-of-type:active {
  background-position-y: 50%;
}
#menu > a:last-of-type + ul {
  display: flex;
  background: linear-gradient(to bottom, #cfe2e2 0%, #cfe2e2 50%, #afcfcf 100%);
  background-size: 100% 200%;
  background-position-y: 0%;
  box-shadow: 0pt -1pt 0pt rgba(0, 0, 0, 0) inset, 0pt 1pt 1pt rgba(0, 0, 0, 0), 0 -1pt 0 0 rgba(0, 0, 0, 0.0625) inset;
}
#menu > a:last-of-type + ul:hover, #menu > a:last-of-type + ul:focus, #menu > a:last-of-type + ul:active {
  box-shadow: 0pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 0pt 1pt 1pt rgba(0, 0, 0, 0.25), 0 -1pt 0 0 rgba(0, 0, 0, 0) inset;
  background-size: 100% 200%;
  background-position-y: 100%;
}
#menu ul {
  flex-basis: 100%;
  z-index: 1;
  display: none;
  flex-flow: row wrap;
  flex-shrink: 1;
  overflow-y: auto;
  justify-content: space-between;
  clear: both;
  margin: 0;
  margin-right: -0.5em;
  padding: 0.25em;
  border: 0;
  background: linear-gradient(to bottom, #8fbcbc 0%, #305050 50%, #264040 100%);
  background-size: 100% 200%;
  background-position-y: 50%;
  text-align: center;
  line-height: 2.5;
  box-shadow: 0pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 0pt 1pt 1pt rgba(0, 0, 0, 0.25), 0 -1pt 0 0 rgba(0, 0, 0, 0) inset;
  transition: box-shadow 0.5s, background-position-y 0.5s;
}
#menu ul:hover, #menu ul:focus, #menu ul:active {
  box-shadow: 0pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 0pt 1pt 1pt rgba(0, 0, 0, 0.25), 0 -1pt 0 0 rgba(0, 0, 0, 0) inset;
}
@media (min-width: 40rem) {
  #menu ul {
    overflow-y: visible;
  }
}
#menu ul > * {
  flex: 1 1 100%;
  white-space: normal;
}
@media (min-width: 40rem) {
  #menu ul > * {
    flex: 1 0 10em;
    white-space: nowrap;
  }
}
#menu ul li {
  position: relative;
  display: inline-block;
  height: auto;
  margin: 0.25em;
  padding: 0;
  border-radius: 0.5em;
  line-height: 1;
  list-style-type: none;
  /* An active dropdown menu button */
  /* The contents of the dropdown menu */
}
#menu ul li a {
  display: inline-block;
  float: none;
  width: calc(100% - 4em);
  margin: 0;
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.5em;
  background: radial-gradient(rgba(0, 255, 255, 0), rgba(0, 255, 255, 0.1)), linear-gradient(to bottom, #eff5f5 0%, #afcfcf 100%);
  background-size: 1000% 1000%;
  background-position-y: 50%;
  color: black;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  box-shadow: 1pt 1pt 0pt rgba(255, 255, 255, 0) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0) inset, 1pt 1pt 1pt rgba(0, 0, 0, 0), 0 0 0 1pt rgba(0, 0, 0, 0.0625) inset;
  transition: all 1s;
  /* For the dropdown menu arrows */
}
#menu ul li a:hover, #menu ul li a:focus, #menu ul li a:active {
  box-shadow: 1pt 1pt 0pt rgba(255, 255, 255, 0.75) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 1pt 1pt 1pt rgba(0, 0, 0, 0.25), 0 0 0 1pt rgba(0, 0, 0, 0) inset;
  background-size: 100% 100%;
}
#menu ul li a:hover {
  background: radial-gradient(rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.1)), linear-gradient(to bottom, #eff5ef, #afcfaf);
}
#menu ul li a:active {
  background: radial-gradient(rgba(255, 255, 0, 0), rgba(255, 255, 0, 0.1)), linear-gradient(to bottom, #f5f5ef, #cfcfaf);
}
#menu ul li a.submenu::before, #menu ul li a.submenu::after {
  content: "▼";
  display: inline-block;
  position: absolute;
  top: 0.5em;
  opacity: 0.25;
  vertical-align: middle;
  transition: transform 0.5s;
  transform: rotate(0deg);
}
@media only print {
  #menu ul li a.submenu::before, #menu ul li a.submenu::after {
    display: none;
  }
}
#menu ul li a.submenu::before {
  left: 0.5em;
  margin-right: 0.5em;
  transform: rotate(-90deg);
}
#menu ul li a.submenu::after {
  right: 0.5em;
  margin-left: 0.5em;
  transform: rotate(90deg);
}
#menu ul li.current {
  position: relative;
  z-index: 1;
}
#menu ul li.current a {
  background: radial-gradient(rgba(0, 255, 0, 0), rgba(0, 255, 0, 0.1)), linear-gradient(to bottom, #eff5ef, #afcfaf);
  background-size: 1000% 1000%;
  /* Flip the dropdown menu arrows */
}
#menu ul li.current a:hover {
  background: radial-gradient(rgba(255, 255, 0, 0), rgba(255, 255, 0, 0.1)), linear-gradient(to bottom, #f5f5ef, #cfcfaf);
  background-size: 100% 100%;
}
#menu ul li.current a:active {
  background: radial-gradient(rgba(255, 255, 0, 0), rgba(255, 255, 0, 0.1)), linear-gradient(to bottom, #eff5f5, #afcfcf);
  background-size: 100% 100%;
}
#menu ul li.current a::before, #menu ul li.current a::after {
  transform: rotate(0deg);
}
#menu ul li ul {
  display: none;
  overflow-y: auto;
  position: static;
  z-index: -1;
  top: 0;
  left: 0.5em;
  width: 100%;
  padding: 0.125em 0;
  border-radius: 0.5em;
  background: linear-gradient(to right, #9fc69f, #bfd9bf, #9fc69f);
  background-size: 1000% 1000%;
  background-position-x: 50%;
  box-shadow: 1pt 1pt 0pt rgba(255, 255, 255, 0) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0) inset, 1pt 1pt 1pt rgba(0, 0, 0, 0), 0 0 0 1pt rgba(0, 0, 0, 0.25) inset;
  transition: box-shadow 0.5s, background-size 0.5s, background-position-x 0.5s;
}
#menu ul li ul:hover, #menu ul li ul:focus, #menu ul li ul:active {
  box-shadow: 1pt 1pt 0pt rgba(255, 255, 255, 0.75) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 1pt 1pt 1pt rgba(0, 0, 0, 0.25), 0 0 0 1pt rgba(0, 0, 0, 0) inset;
  background-size: 100% 100%;
}
@media (min-width: 40rem) {
  #menu ul li ul {
    position: absolute;
    width: calc(100% - 1em);
    max-height: calc(100vh - 10em);
    padding: 0;
    padding-top: 2em;
  }
}
#menu ul li ul li {
  display: block;
  margin: 0.5em;
  white-space: normal;
}
#menu ul li ul li a {
  width: calc(100% - 2em);
  padding: 0.5em 1em;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  margin: 0;
  padding: 1em;
  gap: 1em;
  border: 0;
  outline: 0;
  background: radial-gradient(farthest-corner, #ececdf, #f5f5ef);
  line-height: 1.5;
}
@media (min-width: 80rem) {
  main {
    font-size: calc(1pc + 0.005 * (100vw - 80ch));
  }
  main h1 {
    font-size: calc(1.5 * (1pc + 0.005 * (100vw - 80ch)) + 1.2vmin);
  }
  main h2 {
    font-size: calc(1.4 * (1pc + 0.005 * (100vw - 80ch)) + 1vmin);
  }
  main h3 {
    font-size: calc(1.3 * (1pc + 0.005 * (100vw - 80ch)) + 0.8vmin);
  }
  main h4 {
    font-size: calc(1.2 * (1pc + 0.005 * (100vw - 80ch)) + 0.6vmin);
  }
  main h5 {
    font-size: calc(1.1 * (1pc + 0.005 * (100vw - 80ch)) + 0.4vmin);
  }
  main h6 {
    font-size: calc(1 * (1pc + 0.005 * (100vw - 80ch)) + 0.2vmin);
  }
}
main > * {
  flex: 0 1 auto;
}
main p {
  text-indent: 2em;
}
main p.description {
  padding: 1em;
  padding-top: 0;
  border-radius: 1em;
  border: none;
  border-bottom: 1pt groove #cfcfaf;
  font-style: italic;
  text-align: center;
  text-indent: 0;
}
main ul,
main ol {
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-left: 2em;
}
main ul li,
main ol li {
  margin: 1em 0;
  padding: 0;
}
main ul p,
main ol p {
  border: 0;
  text-indent: 0;
}
main ul.toc,
main ol.toc {
  text-align: center;
}
main ul.toc li,
main ol.toc li {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}
main ul.toc li:before,
main ol.toc li:before {
  display: none;
}
main ul.toc li span,
main ol.toc li span {
  white-space: nowrap;
}
main blockquote {
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1pt dashed #cfcfaf;
  border-radius: 0.5em;
}
main blockquote:before {
  content: "“";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 2em;
  text-align: left;
}
main blockquote:after {
  content: "”";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 0;
  right: 1rem;
  font-size: 2em;
  text-align: right;
}
main hr {
  content: url(/images/hr-vine.svg);
  clear: both;
  width: 100%;
  margin: 1em auto;
  padding: 0;
  border: 0;
  outline: 0;
  filter: drop-shadow(0 2pt 1pt rgba(0, 0, 0, 0.25));
}
main hr:nth-of-type(even) {
  transform: scaleX(-1);
}
main table {
  width: calc(100% - 2em);
  font-size: 1em;
  border: 1pt solid black;
  margin: 1em auto auto auto;
  background: #ccc;
}
main table th {
  padding: 1em;
  border: 1pt solid black;
  background: #eff5ef;
  text-align: center;
}
main table th td {
  padding: 1em;
  border: 1pt solid black;
  background: white;
  text-align: center;
}
main .toggleAllControls {
  width: 100%;
  max-width: 80ch;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
@media (min-width: 40rem) {
  main .toggleAllControls {
    flex-wrap: nowrap;
  }
}
main .toggleAllControls a {
  flex: 1 1 100%;
  position: relative;
  font-size: 0.75pc;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0.5em;
  padding: 0.25em 2em;
  border: 1px solid #0004;
  opacity: 0.75;
  transition: all 0.5s;
}
main .toggleAllControls a.expandAll::before, main .toggleAllControls a.expandAll::after, main .toggleAllControls a.expandAnchor::before, main .toggleAllControls a.expandAnchor::after, main .toggleAllControls a.collapseOthers::before, main .toggleAllControls a.collapseOthers::after, main .toggleAllControls a.collapseAll::before, main .toggleAllControls a.collapseAll::after {
  content: "▼";
  opacity: 0.25;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
main .toggleAllControls a.expandAll::before, main .toggleAllControls a.expandAnchor::before, main .toggleAllControls a.collapseOthers::before, main .toggleAllControls a.collapseAll::before {
  left: 0.5em;
}
main .toggleAllControls a.expandAll::after, main .toggleAllControls a.expandAnchor::after, main .toggleAllControls a.collapseOthers::after, main .toggleAllControls a.collapseAll::after {
  right: 0.5em;
}
main .toggleAllControls a.collapseOthers::before, main .toggleAllControls a.collapseAll::before {
  transform: rotate(-90deg);
}
main .toggleAllControls a.collapseOthers::after, main .toggleAllControls a.collapseAll::after {
  transform: rotate(90deg);
}
main .toggleAllControls a.anchorTarget {
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
}
main .toggleAllControls a.anchorTarget::before {
  content: "↳";
  margin-right: 1ch;
}
main .toggleAllControls a.anchorTarget::after {
  content: "↴";
  margin-left: 1ch;
}
main .toggleAllControls a.anchorTarget.disabled {
  opacity: 0.125;
}
main .toggleAllControls a.anchorTarget.disabled::before, main .toggleAllControls a.anchorTarget.disabled::after {
  display: none;
}
main .toggleAllControls a.disabled {
  pointer-events: none;
  opacity: 0.25;
}
@media only print {
  main .toggleAllControls {
    display: none;
  }
}
main section {
  clear: both;
  width: calc(100% - 2em);
  max-width: 80ch;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  border: 0;
  outline: 0;
  border-radius: 2em;
  background: radial-gradient(farthest-corner, rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0.5));
  box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0), -2pt -2pt 2pt rgba(255, 255, 255, 0), 1pt 1pt 0pt rgba(255, 255, 255, 0) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0) inset, 0 0 0 1pt rgba(255, 255, 255, 0.75) inset;
  transition: box-shadow 1s;
}
main section:hover, main section:focus, main section:active {
  box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.25), -2pt -2pt 2pt rgba(255, 255, 255, 0.75), 1pt 1pt 0pt rgba(255, 255, 255, 0.75) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 0 0 0 1pt rgba(0, 0, 0, 0) inset;
}
main section:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
main section .gallery {
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
}
main section .gallery:hover, main section .gallery:active, main section .gallery:focus {
  background: none;
  box-shadow: none;
}
main section .gallery h1::before, main section .gallery h1::after,
main section .gallery h2::before,
main section .gallery h2::after,
main section .gallery h3::before,
main section .gallery h3::after,
main section .gallery h4::before,
main section .gallery h4::after,
main section .gallery h5::before,
main section .gallery h5::after,
main section .gallery h6::before,
main section .gallery h6::after {
  display: none;
}
main section.toggleable h1,
main section.toggleable h2,
main section.toggleable h3,
main section.toggleable h4,
main section.toggleable h5,
main section.toggleable h6 {
  padding: 1rem 3rem;
}
main section.toggleable h1::before, main section.toggleable h1::after,
main section.toggleable h2::before,
main section.toggleable h2::after,
main section.toggleable h3::before,
main section.toggleable h3::after,
main section.toggleable h4::before,
main section.toggleable h4::after,
main section.toggleable h5::before,
main section.toggleable h5::after,
main section.toggleable h6::before,
main section.toggleable h6::after {
  content: "▼";
  opacity: 0.0625;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
@media only print {
  main section.toggleable h1::before, main section.toggleable h1::after,
main section.toggleable h2::before,
main section.toggleable h2::after,
main section.toggleable h3::before,
main section.toggleable h3::after,
main section.toggleable h4::before,
main section.toggleable h4::after,
main section.toggleable h5::before,
main section.toggleable h5::after,
main section.toggleable h6::before,
main section.toggleable h6::after {
    display: none;
  }
}
main section.toggleable h1::before,
main section.toggleable h2::before,
main section.toggleable h3::before,
main section.toggleable h4::before,
main section.toggleable h5::before,
main section.toggleable h6::before {
  left: 0;
}
main section.toggleable h1::after,
main section.toggleable h2::after,
main section.toggleable h3::after,
main section.toggleable h4::after,
main section.toggleable h5::after,
main section.toggleable h6::after {
  right: 0;
}
main section.toggleable h1:hover::before, main section.toggleable h1:hover::after,
main section.toggleable h2:hover::before,
main section.toggleable h2:hover::after,
main section.toggleable h3:hover::before,
main section.toggleable h3:hover::after,
main section.toggleable h4:hover::before,
main section.toggleable h4:hover::after,
main section.toggleable h5:hover::before,
main section.toggleable h5:hover::after,
main section.toggleable h6:hover::before,
main section.toggleable h6:hover::after {
  opacity: 0.25;
}
main section.toggleable.collapsed h1::before,
main section.toggleable.collapsed h2::before,
main section.toggleable.collapsed h3::before,
main section.toggleable.collapsed h4::before,
main section.toggleable.collapsed h5::before,
main section.toggleable.collapsed h6::before {
  transform: rotate(-90deg);
  opacity: 0.25;
}
main section.toggleable.collapsed h1::after,
main section.toggleable.collapsed h2::after,
main section.toggleable.collapsed h3::after,
main section.toggleable.collapsed h4::after,
main section.toggleable.collapsed h5::after,
main section.toggleable.collapsed h6::after {
  transform: rotate(90deg);
  opacity: 0.25;
}
@media only print {
  main section.toggleable.collapsed > *:not(h2, h3, h4, h5, h6, .description) {
    display: initial !important;
  }
}
main section section {
  border-radius: 1.75em;
}
main section section section {
  border-radius: 1.5em;
}
main section section section section {
  border-radius: 1.25em;
}
main section section section section section {
  border-radius: 1em;
}
main section .duo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
}
main section .duo > * {
  display: inline-block;
  float: none;
  flex: 1 1 20em;
  width: 36em;
  max-width: calc(100% - 2em);
  margin: 1em;
  padding: 0 1em;
  vertical-align: top;
}
main section .duo section {
  text-align: left;
}
main section .duo figure:nth-of-type(1n + 0) {
  float: none;
  margin: 1em;
}
main section .duo figure li {
  margin: 0.125em 0;
}
main section .duo figure li:before {
  content: none;
}
main section figure {
  float: none;
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 1em auto;
  transition: all 1s ease-in;
}
main section figure.contained {
  overflow: hidden;
  border: 0.125em solid #505030;
  border-radius: 1em;
  background: #505030;
  box-shadow: 2pt 2pt 1pt rgba(0, 0, 0, 0), -2pt -2pt 2pt rgba(255, 255, 255, 0), 1pt 1pt 0pt rgba(255, 255, 255, 0) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0) inset, 0 0 0 1pt rgba(0, 0, 0, 0.125) inset;
}
main section figure.contained:hover, main section figure.contained:focus, main section figure.contained:active {
  border-radius: 0.125em;
  box-shadow: 2pt 2pt 1pt rgba(0, 0, 0, 0.25), -2pt -2pt 2pt rgba(255, 255, 255, 0.75), 1pt 1pt 0pt rgba(255, 255, 255, 0.75) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 0 0 0 1pt rgba(0, 0, 0, 0) inset;
}
main section figure img {
  display: block;
  max-width: 100%;
  margin: auto;
}
main section figure ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 40rem) {
  main section figure {
    float: left;
    max-width: calc((100% - 2em) / 2);
    margin: 0 1em 1em 0;
  }
  main section figure:nth-of-type(even) {
    float: right;
    margin-left: 1em;
    margin-right: 0;
  }
  main section figure:active {
    max-width: 100%;
  }
  main section:nth-of-type(even) figure {
    float: right;
    margin-left: 1em;
    margin-right: 0;
  }
  main section:nth-of-type(even) figure:nth-of-type(even) {
    float: left;
    margin-right: 1em;
    margin-left: 0;
  }
  main section .solo {
    float: none;
    max-width: 100%;
  }
  main section .solo picture,
main section .solo img {
    max-width: 100%;
  }
}
@media only print {
  main section {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
main .gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  border: 0;
  outline: 0 solid black;
  border-radius: 2em;
  background: radial-gradient(farthest-corner, rgba(255, 255, 255, 0.125), rgba(255, 255, 255, 0.5));
  text-align: center;
  font-size: 1rem;
  box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0), -2pt -2pt 2pt rgba(255, 255, 255, 0), 1pt 1pt 0pt rgba(255, 255, 255, 0) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0) inset, 0 0 0 1pt rgba(0, 0, 0, 0.25) inset;
  transition: box-shadow 1s;
}
main .gallery:hover, main .gallery:focus, main .gallery:active {
  box-shadow: 2pt 2pt 2pt rgba(0, 0, 0, 0.25), -2pt -2pt 2pt rgba(255, 255, 255, 0.75), 1pt 1pt 0pt rgba(255, 255, 255, 0.75) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 0 0 0 1pt rgba(0, 0, 0, 0) inset;
}
main .gallery > * {
  flex: 1 1 16em;
}
main .gallery li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0.5em;
  padding: 1em;
  border: 0;
  border-radius: 1em;
  background-color: white;
  text-align: center;
  list-style: none;
  vertical-align: top;
  box-shadow: 2pt 2pt 1pt rgba(0, 0, 0, 0), -2pt -2pt 2pt rgba(255, 255, 255, 0), 1pt 1pt 0pt rgba(255, 255, 255, 0) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0) inset, 0 0 0 1pt rgba(0, 0, 0, 0.125) inset;
  transition: box-shadow 1s;
}
main .gallery li:hover, main .gallery li:focus, main .gallery li:active {
  box-shadow: 2pt 2pt 1pt rgba(0, 0, 0, 0.25), -2pt -2pt 2pt rgba(255, 255, 255, 0.75), 1pt 1pt 0pt rgba(255, 255, 255, 0.75) inset, -1pt -1pt 0pt rgba(0, 0, 0, 0.25) inset, 0 0 0 1pt rgba(0, 0, 0, 0) inset;
}
main .gallery li:before {
  display: none;
}
main .gallery li h3 {
  margin: 0;
  padding: 0.5em 2em;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-transform: none;
  line-height: 1.5;
}
main .gallery li a {
  margin: auto 0;
}
main .gallery li img {
  display: inline-block;
  max-width: 16em;
  max-height: 16em;
  margin: 0 auto;
  background: white;
}
main .gallery li p,
main .gallery li p.description {
  margin: 0 auto;
  padding: 0.5em 2em;
  border: 0;
  text-indent: 0;
  text-align: center;
  line-height: 1.5;
}

.display {
  display: flex;
  flex-flow: column nowrap;
  float: none;
  max-width: 100%;
  height: 100%;
  margin: -1em;
  padding: 2em;
  background: black;
  color: white;
}
.display img {
  max-width: 100%;
  max-height: calc(75vh - 288px);
  margin: 0 auto;
  object-fit: scale-down;
  background: white;
}
.display h2 {
  color: grey;
}

/* Modal image display */
.modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  background: radial-gradient(black, rgba(0, 0, 0, 0.9375));
  color: grey;
  font-size: calc(1rem + 1vmin);
  text-align: center;
}
.modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100vw - 2 * (2vh + 1em));
  max-height: calc(100vh - 2 * (2vh + 5em));
  object-fit: scale-down;
  transform: translate(-50%, -50%);
  border: 1vh solid white;
  box-shadow: 0 0 3em 3em black;
}
.modal h2,
.modal nav {
  display: inline;
  position: absolute;
  z-index: 4;
  top: 0;
  width: auto;
  padding: 2em;
  color: grey;
}
.modal nav {
  top: auto;
  bottom: 0;
  background: none;
}
.modal a {
  display: inline-block;
  width: 1em;
  margin: 0 1em;
  padding: 0;
  border-radius: 1em;
  background: none;
  color: grey;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 0.125em rgba(0, 0, 0, 0);
  transition: all 1s;
  user-select: none;
  cursor: pointer;
}
.modal a:hover, .modal a:focus, .modal a:active {
  text-shadow: 0 0 0.125em black;
}
.modal a:hover, .modal a:focus {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
