@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans&family=Princess+Sofia&display=swap");
:root {
  --hm: 120;
  --hs: 60;
  --hc: calc(var(--mh) + var(--hs));
  --hw: calc(var(--mh) - var(--hs));
  --sm: 75%;
  --ss: 25%;
  --sh: 100%;
  --sd: 6.25%;
  --lm: 50%;
  --lti: calc((100% - var(--lm)) / 10);
  --lsi: calc((0% - var(--lm)) / 10);
  --lt9: calc(var(--lm) + (var(--lti) * 9));
  --lt8: calc(var(--lm) + (var(--lti) * 8));
  --lt7: calc(var(--lm) + (var(--lti) * 7));
  --lt6: calc(var(--lm) + (var(--lti) * 6));
  --lt5: calc(var(--lm) + (var(--lti) * 5));
  --lt4: calc(var(--lm) + (var(--lti) * 4));
  --lt3: calc(var(--lm) + (var(--lti) * 3));
  --lt2: calc(var(--lm) + (var(--lti) * 2));
  --lt1: calc(var(--lm) + (var(--lti) * 1));
  --ls1: calc(var(--lm) + (var(--lsi) * 1));
  --ls2: calc(var(--lm) + (var(--lsi) * 2));
  --ls3: calc(var(--lm) + (var(--lsi) * 3));
  --ls4: calc(var(--lm) + (var(--lsi) * 4));
  --ls5: calc(var(--lm) + (var(--lsi) * 5));
  --ls6: calc(var(--lm) + (var(--lsi) * 6));
  --ls7: calc(var(--lm) + (var(--lsi) * 7));
  --ls8: calc(var(--lm) + (var(--lsi) * 8));
  --ls9: calc(var(--lm) + (var(--lsi) * 9));
  --cm: hsla(var(--hm), var(--sm), var(--lm), 100%);
  --cc: hsla(var(--hc), var(--ss), var(--lm), 100%);
  --cw: hsla(var(--hw), var(--ss), var(--lm), 100%);
  --cmh: hsla(var(--hm), var(--sh), 100%, 100%);
  --cch: hsla(var(--hc), var(--sh), 100%, 100%);
  --cwh: hsla(var(--hw), var(--sh), 100%, 100%);
  --cmd: hsla(var(--hm), var(--sd), var(--lm), 100%);
  --ccd: hsla(var(--hc), var(--sd), var(--lm), 100%);
  --cwd: hsla(var(--hw), var(--sd), var(--lm), 100%);
  --cm95: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm90: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm85: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm80: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm75: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm70: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm65: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm60: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm55: hsla(var(--hm), var(--sm), var(--lt9), 100%);
  --cm50: var(--cm);
  --cm45: hsla(var(--hm), var(--sm), var(--ls1), 100%);
  --cm40: hsla(var(--hm), var(--sm), var(--ls2), 100%);
  --cm35: hsla(var(--hm), var(--sm), var(--ls3), 100%);
  --cm30: hsla(var(--hm), var(--sm), var(--ls4), 100%);
  --cm25: hsla(var(--hm), var(--sm), var(--ls5), 100%);
  --cm20: hsla(var(--hm), var(--sm), var(--ls6), 100%);
  --cm15: hsla(var(--hm), var(--sm), var(--ls7), 100%);
  --cm10: hsla(var(--hm), var(--sm), var(--ls8), 100%);
  --cm05: hsla(var(--hm), var(--sm), var(--ls9), 100%);
  --cc95: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc90: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc85: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc80: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc75: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc70: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc65: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc60: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc55: hsla(var(--hc), var(--ss), var(--lt9), 100%);
  --cc50: var(--cc);
  --cc45: hsla(var(--hc), var(--ss), var(--ls1), 100%);
  --cc40: hsla(var(--hc), var(--ss), var(--ls2), 100%);
  --cc35: hsla(var(--hc), var(--ss), var(--ls3), 100%);
  --cc30: hsla(var(--hc), var(--ss), var(--ls4), 100%);
  --cc25: hsla(var(--hc), var(--ss), var(--ls5), 100%);
  --cc20: hsla(var(--hc), var(--ss), var(--ls6), 100%);
  --cc15: hsla(var(--hc), var(--ss), var(--ls7), 100%);
  --cc10: hsla(var(--hc), var(--ss), var(--ls8), 100%);
  --cc05: hsla(var(--hc), var(--ss), var(--ls9), 100%);
  --cw95: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw90: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw85: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw80: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw75: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw70: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw65: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw60: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw55: hsla(var(--hw), var(--ss), var(--lt9), 100%);
  --cw50: var(--cw);
  --cw45: hsla(var(--hw), var(--ss), var(--ls1), 100%);
  --cw40: hsla(var(--hw), var(--ss), var(--ls2), 100%);
  --cw35: hsla(var(--hw), var(--ss), var(--ls3), 100%);
  --cw30: hsla(var(--hw), var(--ss), var(--ls4), 100%);
  --cw25: hsla(var(--hw), var(--ss), var(--ls5), 100%);
  --cw20: hsla(var(--hw), var(--ss), var(--ls6), 100%);
  --cw15: hsla(var(--hw), var(--ss), var(--ls7), 100%);
  --cw10: hsla(var(--hw), var(--ss), var(--ls8), 100%);
  --cw05: hsla(var(--hw), var(--ss), var(--ls9), 100%);
  --shade: #0001;
  --gloss: #fffc;
  --skyHue1: 60;
  --skyHue2: 30;
  --skyHue3: 0;
  --skyColor0: hsl(var(--skyHue1), 0, 100%);
  --skyColor1: hsl(var(--skyHue1), 25%, 87.5%);
  --skyColor2: hsl(var(--skyHue2), 50%, 62.5%);
  --skyColor3: hsl(var(--skyHue3), 75%, 37.5%);
  --cloudColor: hsla(var(--skyHue1), 100%, 100%, 50%);
  --cloudLight: hsla(var(--skyHue1), 100%, 100%, 100%);
  --seaHue1: 180;
  --seaHue2: 210;
  --seaHue3: 240;
  --seaColor0: hsl(var(--seaHue1), 0, 100%);
  --seaColor1: hsl(var(--seaHue1), 25%, 87.5%);
  --seaColor2: hsl(var(--seaHue2), 50%, 62.5%);
  --seaColor3: hsl(var(--seaHue3), 75%, 37.5%);
  --swellColor: hsla(var(--seaHue1), 100%, 100%, 50%);
  --swellLight: hsla(var(--seaHue1), 100%, 100%, 100%);
}

@supports (color: oklch(100% 100% 0)) {
  :root {
    --hmx: calc(var(--hm) + 30);
    --cm: oklch(var(--lm) var(--sm) var(--hmx));
    --cc: oklch(from var(--cm) l var(--ss) calc(h + var(--hs)));
    --cw: oklch(from var(--cm) l var(--ss) calc(h - var(--hs)));
    --cmh: oklch(from var(--cm) 100% var(--sh) h);
    --cch: oklch(from var(--cc) 100% var(--sh) h);
    --cwh: oklch(from var(--cw) 100% var(--sh) h);
    --cmd: oklch(from var(--cm) l var(--sd) h);
    --ccd: oklch(from var(--cc) l var(--sd) h);
    --cwd: oklch(from var(--cw) l var(--sd) h);
    --cm95: color-mix(in oklch, var(--cm) 10%, white);
    --cm90: color-mix(in oklch, var(--cm) 20%, white);
    --cm85: color-mix(in oklch, var(--cm) 30%, white);
    --cm80: color-mix(in oklch, var(--cm) 40%, white);
    --cm75: color-mix(in oklch, var(--cm) 50%, white);
    --cm70: color-mix(in oklch, var(--cm) 60%, white);
    --cm65: color-mix(in oklch, var(--cm) 70%, white);
    --cm60: color-mix(in oklch, var(--cm) 80%, white);
    --cm55: color-mix(in oklch, var(--cm) 90%, white);
    --cm50: var(--cm);
    --cm45: color-mix(in oklch, var(--cm) 90%, black);
    --cm40: color-mix(in oklch, var(--cm) 80%, black);
    --cm35: color-mix(in oklch, var(--cm) 70%, black);
    --cm30: color-mix(in oklch, var(--cm) 60%, black);
    --cm25: color-mix(in oklch, var(--cm) 50%, black);
    --cm20: color-mix(in oklch, var(--cm) 40%, black);
    --cm15: color-mix(in oklch, var(--cm) 30%, black);
    --cm10: color-mix(in oklch, var(--cm) 20%, black);
    --cm05: color-mix(in oklch, var(--cm) 10%, black);
    --cc95: color-mix(in oklch, var(--cc) 10%, white);
    --cc90: color-mix(in oklch, var(--cc) 20%, white);
    --cc85: color-mix(in oklch, var(--cc) 30%, white);
    --cc80: color-mix(in oklch, var(--cc) 40%, white);
    --cc75: color-mix(in oklch, var(--cc) 50%, white);
    --cc70: color-mix(in oklch, var(--cc) 60%, white);
    --cc65: color-mix(in oklch, var(--cc) 70%, white);
    --cc60: color-mix(in oklch, var(--cc) 80%, white);
    --cc55: color-mix(in oklch, var(--cc) 90%, white);
    --cc50: var(--cc);
    --cc45: color-mix(in oklch, var(--cc) 90%, black);
    --cc40: color-mix(in oklch, var(--cc) 80%, black);
    --cc35: color-mix(in oklch, var(--cc) 70%, black);
    --cc30: color-mix(in oklch, var(--cc) 60%, black);
    --cc25: color-mix(in oklch, var(--cc) 50%, black);
    --cc20: color-mix(in oklch, var(--cc) 40%, black);
    --cc15: color-mix(in oklch, var(--cc) 30%, black);
    --cc10: color-mix(in oklch, var(--cc) 20%, black);
    --cc05: color-mix(in oklch, var(--cc) 10%, black);
    --cw95: color-mix(in oklch, var(--cw) 10%, white);
    --cw90: color-mix(in oklch, var(--cw) 20%, white);
    --cw85: color-mix(in oklch, var(--cw) 30%, white);
    --cw80: color-mix(in oklch, var(--cw) 40%, white);
    --cw75: color-mix(in oklch, var(--cw) 50%, white);
    --cw70: color-mix(in oklch, var(--cw) 60%, white);
    --cw65: color-mix(in oklch, var(--cw) 70%, white);
    --cw60: color-mix(in oklch, var(--cw) 80%, white);
    --cw55: color-mix(in oklch, var(--cw) 90%, white);
    --cw50: var(--cw);
    --cw45: color-mix(in oklch, var(--cw) 90%, black);
    --cw40: color-mix(in oklch, var(--cw) 80%, black);
    --cw35: color-mix(in oklch, var(--cw) 70%, black);
    --cw30: color-mix(in oklch, var(--cw) 60%, black);
    --cw25: color-mix(in oklch, var(--cw) 50%, black);
    --cw20: color-mix(in oklch, var(--cw) 40%, black);
    --cw15: color-mix(in oklch, var(--cw) 30%, black);
    --cw10: color-mix(in oklch, var(--cw) 20%, black);
    --cw05: color-mix(in oklch, var(--cw) 10%, black);
    --shade: color-mix(in oklch, black 12.5%, transparent);
    --gloss: color-mix(in oklch, white 75%, transparent);
    --cloudColor: oklch(100% 100% calc(var(--skyHue1) + 30) / 50%);
    --cloudLight: oklch(from var(--cloudColor) 100% 100% h / 100%);
    --skyColor0: oklch(100% 0 calc(60 + 30));
    --skyColor1: oklch(87.5% 25% calc(60 + 30));
    --skyColor2: oklch(62.5% 50% calc(30 + 30));
    --skyColor3: oklch(37.5% 75% calc(0 + 30));
    --swellColor: oklch(100% 100% calc(var(--seaHue1) + 30) / 50%);
    --swellLight: oklch(from var(--swellColor) 100% 100% h / 100);
    --seaColor0: oklch(100% 0 calc(180 + 30));
    --seaColor1: oklch(87.5% 25% calc(180 + 30));
    --seaColor2: oklch(62.5% 50% calc(210 + 30));
    --seaColor3: oklch(37.5% 75% calc(240 + 30));
  }
}
/* Legacy SASS variables used in transparentize() */
html {
  height: 100%;
  background: black;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 1pc;
  line-height: 1;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

section,
header,
footer,
main {
  display: block;
}

a {
  border: 0;
  color: black;
  text-decoration: underline;
  text-shadow: 1pt 1pt 1pt transparent;
  cursor: pointer;
  transition: color 0.5s, text-shadow 0.5s;
}
a:link, a:visited {
  color: var(--cm30);
}
a:hover {
  color: var(--cm35);
}
a:active {
  color: var(--cm40);
}
a:hover, a:active {
  text-shadow: 1pt 1pt 1pt var(--shade);
}
a img {
  border: 0;
}

code {
  white-space: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  padding: 1rem;
  border: none;
  outline: none;
  color: var(--cm30);
  font-family: Handlee, "Open Sans", sans-serif;
  font-weight: normal;
  text-align: center;
  line-height: 1.25;
  text-shadow: 0.0625em 0.0625em 0.0625em transparent;
  transition: all 1s;
  position: relative;
  overflow-wrap: anywhere;
}
h1:hover, h1:focus, h1:active, *:hover > h1, *:focus > h1, *:active > h1,
h2:hover,
h2:focus,
h2:active,
*:hover > h2,
*:focus > h2,
*:active > h2,
h3:hover,
h3:focus,
h3:active,
*:hover > h3,
*:focus > h3,
*:active > h3,
h4:hover,
h4:focus,
h4:active,
*:hover > h4,
*:focus > h4,
*:active > h4,
h5:hover,
h5:focus,
h5:active,
*:hover > h5,
*:focus > h5,
*:active > h5,
h6:hover,
h6:focus,
h6:active,
*:hover > h6,
*:focus > h6,
*:active > h6 {
  text-shadow: 0.0625em 0.0625em 0.0625em var(--shade);
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  white-space: nowrap;
}

h1 {
  font-size: calc(1.5rem + 1.2vmin);
}

h2 {
  font-size: calc(1.4rem + 1vmin);
}

h3 {
  font-size: calc(1.3rem + 0.8vmin);
}

h4 {
  font-size: calc(1.2rem + 0.6vmin);
}

h5 {
  font-size: calc(1.1rem + 0.4vmin);
}

h6 {
  font-size: calc(1rem + 0.2vmin);
}

@keyframes windAndWaves {
  from {
    background-size: 100% 100%, auto;
  }
  to {
    background-size: 100% 200%, auto;
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
  max-height: 100vh;
  padding: 0;
  border: 0;
  background: black;
  color: black;
  text-align: center;
  overflow-y: hidden;
  display: flex;
  flex-flow: column;
}
@media (min-width: 40rem) {
  header {
    top: calc(-1 * (3 * max(1.5rem, 4vw) + 2vw + 0.5rem));
    overflow-y: visible;
  }
}
@media only print {
  header {
    display: none;
  }
}
header h1, header:hover h1 {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to bottom, transparent 0%, var(--cloudColor) 18.75%, var(--cloudLight) 21.875%, transparent 25%, var(--cloudColor) 34.375%, var(--cloudLight) 35.9375%, transparent 37.5%, var(--cloudColor) 42.1875%, var(--cloudLight) 42.96875%, transparent 43.75%, var(--cloudColor) 46.09375%, var(--cloudLight) 46.484375%, transparent 46.875%, var(--cloudColor) 48.046875%, var(--cloudLight) 48.2421875%, transparent 48.4375%, var(--cloudColor) 49.0234375%, var(--cloudLight) 49.12109375%, transparent 49.21875%, var(--cloudColor) 49.51171875%, var(--cloudLight) 49.560546875%, transparent 49.609375%, var(--cloudColor) 49.755859375%, var(--cloudLight) 49.7802734375%, transparent 49.8046875%, var(--cloudColor) 49.8779296875%, var(--cloudLight) 49.8901367188%, transparent 49.90234375%, var(--cloudColor) 49.9389648438%, var(--cloudLight) 49.9450683594%, transparent 49.951171875%, transparent 50.048828125%, var(--swellLight) 50.0793457031%, var(--swellColor) 50.0854492188%, transparent 50.09765625%, var(--swellLight) 50.1586914063%, var(--swellColor) 50.1708984375%, transparent 50.1953125%, var(--swellLight) 50.3173828125%, var(--swellColor) 50.341796875%, transparent 50.390625%, var(--swellLight) 50.634765625%, var(--swellColor) 50.68359375%, transparent 50.78125%, var(--swellLight) 51.26953125%, var(--swellColor) 51.3671875%, transparent 51.5625%, var(--swellLight) 52.5390625%, var(--swellColor) 52.734375%, transparent 53.125%, var(--swellLight) 55.078125%, var(--swellColor) 55.46875%, transparent 56.25%, var(--swellLight) 60.15625%, var(--swellColor) 60.9375%, transparent 62.5%, var(--swellLight) 70.3125%, var(--swellColor) 71.875%, transparent 75%, var(--swellLight) 90.625%, var(--swellColor) 93.75%, transparent 100%), linear-gradient(to bottom, var(--skyColor3) 0%, var(--skyColor2) 37.5%, var(--skyColor1) 48%, var(--skyColor0) 50%, var(--seaColor0) 50%, var(--seaColor1) 52%, var(--seaColor2) 62.5%, var(--seaColor3) 100%);
  background-size: 100% 100%, auto;
  background-position: center, center, center;
  margin: 0 auto;
  padding: 1vw 3vw;
  border: 0.25em solid black;
  border-radius: 0.5em;
  outline: 1px solid black;
  color: black;
  --sW: calc(1em / 32);
  --sC: #fff8;
  text-shadow: var(--sW) var(--sW) var(--sW) var(--sC), 0 var(--sW) var(--sW) var(--sC), calc(-1 * var(--sW)) var(--sW) var(--sW) var(--sC), calc(-1 * var(--sW)) 0 var(--sW) var(--sC), calc(-1 * var(--sW)) calc(-1 * var(--sW)) var(--sW) var(--sC), 0 calc(-1 * var(--sW)) var(--sW) var(--sC), var(--sW) calc(-1 * var(--sW)) var(--sW) var(--sC), var(--sW) 0 var(--sW) var(--sC);
  -webkit-text-stroke: var(--sW) var(--sC);
  -webkit-text-fill-color: black;
  paint-order: stroke fill;
  font-family: "Princess Sofia", "Open Sans", sans-serif;
  font-size: max(1.5rem, 4vw);
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  letter-spacing: 0.1em;
  line-height: 2;
  transition: all 1s;
  animation-name: windAndWaves;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0, 0, 1, 0.75);
  cursor: pointer;
}
header h1::before, header:hover h1::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background: center/contain no-repeat url(/images/logo.png);
  flex-shrink: 0;
}
header h1::after, header:hover h1::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: center/contain no-repeat url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0.0em" y="0.0em" width="1.0em" height="1.0em" viewBox="0 0 1.0em 1.0em" ><rect x="0.0em" y="0.0em" width="1.0em" height="0.2em" /><rect x="0.0em" y="0.4em" width="1.0em" height="0.2em" /><rect x="0.0em" y="0.8em" width="1.0em" height="0.2em" /></svg>');
  flex-shrink: 0;
}
header h1 > span, header:hover h1 > span {
  flex-grow: 1;
  flex-basis: 100%;
}
header h1 > span > span, header:hover h1 > span > span {
  display: none;
}
@media (min-width: 20rem) {
  header h1 > span > span, header:hover h1 > span > span {
    display: inline;
  }
}
header h1 > span:first-of-type, header:hover h1 > span:first-of-type {
  display: none;
}
@media (min-width: 40rem) {
  header h1, header:hover h1 {
    background-size: 100% 100%, auto;
    padding: 1vw;
    border: 0.5rem solid black;
    border-radius: 6.25vw 6.25vw 0 0;
    box-shadow: inset 0 0 0.5vw 0 #0008, inset 0 0 0 0.5vw #000c;
  }
  header h1:hover, header:hover h1:hover {
    color: var(--cm);
    -webkit-text-fill-color: var(--cm);
    -webkit-text-stroke: 0.03125em black;
    text-shadow: 0.0125em 0.0125em 0.0125em #000, 0.025em 0.025em 0.025em #0008, 0.05em 0.05em 0.05em #0004, 0.1em 0.1em 0.1em #0002;
  }
  header h1::before, header:hover h1::before {
    width: 3em;
    height: 3em;
  }
  header h1::after, header:hover h1::after {
    display: none;
  }
  header h1 > span:first-of-type, header:hover h1 > span:first-of-type {
    display: inline;
    order: -1;
  }
}
header a {
  text-decoration: none;
}

@keyframes waves {
  from {
    background-size: 100% 100%, auto;
  }
  to {
    background-size: 100% 200%, auto;
  }
}
footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: linear-gradient(to bottom, transparent 0%, transparent 3.125%, var(--swellLight) 3.90625%, var(--swellColor) 4.6875%, transparent 6.25%, var(--swellLight) 7.8125%, var(--swellColor) 9.375%, transparent 12.5%, var(--swellLight) 15.625%, var(--swellColor) 18.75%, transparent 25%, var(--swellLight) 31.25%, var(--swellColor) 37.5%, transparent 50%, var(--swellLight) 62.5%, var(--swellColor) 75%, transparent 100%), linear-gradient(to bottom, var(--seaColor1) 0%, var(--seaColor2) 75%, var(--seaColor3) 100%);
  background-size: 100% 100%, auto;
  background-position: top, center;
  border-top: 3pt ridge var(--cw75);
  color: var(--cw25);
  text-align: center;
  box-shadow: 0 0.5em 0.5em var(--shade) inset;
  animation-name: waves;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
footer p {
  margin: 0;
  padding: 1em;
}
footer a {
  --sW: calc(1em / 32);
  --sC: #0008;
  text-shadow: var(--sW) var(--sW) var(--sW) var(--sC), 0 var(--sW) var(--sW) var(--sC), calc(-1 * var(--sW)) var(--sW) var(--sW) var(--sC), calc(-1 * var(--sW)) 0 var(--sW) var(--sC), calc(-1 * var(--sW)) calc(-1 * var(--sW)) var(--sW) var(--sC), 0 calc(-1 * var(--sW)) var(--sW) var(--sC), var(--sW) calc(-1 * var(--sW)) var(--sW) var(--sC), var(--sW) 0 var(--sW) var(--sC);
  -webkit-text-stroke: 2px var(--sC);
  -webkit-text-fill-color: var(--cw85);
  paint-order: stroke fill;
  text-decoration: none;
  letter-spacing: 0.5ch;
  font-weight: bold;
}
footer a:link {
  color: var(--cw85);
}
footer a:hover {
  color: var(--cw90);
}
footer a:active {
  color: var(--cw95);
}
footer a:visited {
  color: var(--cw80);
}
@media only print {
  footer {
    display: none;
  }
}

#menu {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  padding-right: 0.5em;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  position: relative;
  z-index: 1;
}
@media (min-width: 40rem) {
  #menu {
    flex-flow: row wrap;
    max-height: auto;
    min-height: auto;
    overflow-x: visible;
    overflow-y: visible;
    background-position-y: 0;
  }
}
@media only print {
  #menu {
    display: none;
  }
}
#menu > a {
  display: block;
  float: left;
  order: -1;
  margin: 0;
  margin-left: 0.5em;
  margin-bottom: -2em;
  padding: 0 1em;
  padding-bottom: 2em;
  border: none;
  border-top: 0px solid white;
  outline: none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  background: linear-gradient(to bottom, var(--cc65) 0%, var(--cc25) 50%, var(--cc05) 100%);
  background-size: 100% 200%;
  background-position-y: 6.25%;
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 2;
  flex: 1 1 auto;
  box-shadow: 1pt 1pt 0pt transparent inset, -1pt 0pt 0pt transparent inset, 1pt 1pt 0 0 var(--shade) inset;
  transition: all 0.5s;
}
#menu > a:nth-of-type(4) {
  color: var(--cc95);
  border-top-color: var(--cc95);
  background-position-y: 12.5%;
}
#menu > a:nth-of-type(3) {
  color: var(--cc90);
  border-top-color: var(--cc90);
  background-position-y: 25%;
}
#menu > a:nth-of-type(2) {
  color: var(--cc75);
  border-top-color: var(--cc75);
  background-position-y: 50%;
}
#menu > a:nth-of-type(1) {
  color: var(--cc50);
  border-top-color: var(--cc50);
  background-position-y: 100%;
}
#menu > a:only-of-type {
  display: none;
}
#menu > a:hover, #menu > a:focus, #menu > a:active {
  color: black;
  box-shadow: 1pt 1pt 0pt var(--gloss) inset, -1pt 0pt 0pt var(--shade) inset, 1pt 1pt 0 0 transparent inset;
  background-position-y: 0%;
}
#menu > a:last-of-type {
  color: black;
  position: relative;
  border: 1pt outset var(--cc70);
  border-bottom: none;
  background: linear-gradient(to bottom, white 0%, var(--cc85) 50%, var(--cc85) 100%);
  background-size: 100% 200%;
  background-position-y: 100%;
  text-decoration: none;
  box-shadow: 1pt 1pt 0pt transparent inset, -1pt 0pt 0pt transparent inset;
}
#menu > a:last-of-type:hover, #menu > a:last-of-type:focus, #menu > a:last-of-type:active {
  background-position-y: 50%;
}
#menu > a:last-of-type + ul {
  display: flex;
  background: linear-gradient(to bottom, var(--cc85) 0%, var(--cc85) 50%, var(--cc75) 100%);
  background-size: 100% 200%;
  background-position-y: 0%;
  box-shadow: 0pt -1pt 0pt transparent inset, 0pt 1pt 1pt transparent, 0 -1pt 0 0 var(--shade) inset;
}
#menu > a:last-of-type + ul:hover, #menu > a:last-of-type + ul:focus, #menu > a:last-of-type + ul:active {
  box-shadow: 0pt -1pt 0pt var(--shade) inset, 0pt 1pt 1pt var(--shade), 0 -1pt 0 0 transparent inset;
  background-size: 100% 200%;
  background-position-y: 100%;
}
#menu ul {
  flex-basis: 100%;
  z-index: 1;
  display: none;
  flex-flow: row wrap;
  flex-shrink: 1;
  overflow-y: auto;
  justify-content: space-between;
  clear: both;
  margin: 0;
  margin-right: -0.5em;
  padding: 0.25em;
  border: 0;
  background: linear-gradient(to bottom, var(--cc65) 0%, var(--cc25) 50%, var(--cc20) 100%);
  background-size: 100% 200%;
  background-position-y: 50%;
  text-align: center;
  line-height: 2.5;
  box-shadow: 0pt -1pt 0pt var(--shade) inset, 0pt 1pt 1pt var(--shade), 0 -1pt 0 0 transparent inset;
  transition: box-shadow 0.5s, background-position-y 0.5s;
}
#menu ul:hover, #menu ul:focus, #menu ul:active {
  box-shadow: 0pt -1pt 0pt var(--shade) inset, 0pt 1pt 1pt var(--shade), 0 -1pt 0 0 transparent inset;
}
@media (min-width: 40rem) {
  #menu ul {
    overflow-y: visible;
  }
}
#menu ul > * {
  flex: 1 1 100%;
  white-space: normal;
}
@media (min-width: 40rem) {
  #menu ul > * {
    flex: 1 0 10em;
    white-space: nowrap;
  }
}
#menu ul li {
  position: relative;
  display: inline-block;
  height: auto;
  margin: 0.25em;
  padding: 0;
  border-radius: 0.5em;
  line-height: 1;
  list-style-type: none;
  /* An active dropdown menu button */
  /* The contents of the dropdown menu */
}
#menu ul li a {
  display: inline-block;
  float: none;
  width: calc(100% - 4em);
  margin: 0;
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.5em;
  background: radial-gradient(transparent, oklch(from var(--cch) l c h/0.1)), linear-gradient(to bottom, var(--cc95) 0%, var(--cc75) 100%);
  background-size: 1000% 1000%;
  background-position-y: 50%;
  color: black;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1;
  box-shadow: 1pt 1pt 0pt transparent inset, -1pt -1pt 0pt transparent inset, 1pt 1pt 1pt transparent, 0 0 0 1pt var(--shade) inset;
  transition: all 1s;
  /* For the dropdown menu arrows */
}
#menu ul li a:hover, #menu ul li a:focus, #menu ul li a:active {
  box-shadow: 1pt 1pt 0pt var(--gloss) inset, -1pt -1pt 0pt var(--shade) inset, 1pt 1pt 1pt var(--shade), 0 0 0 1pt transparent inset;
  background-size: 100% 100%;
}
#menu ul li a:hover {
  background: radial-gradient(transparent, oklch(from var(--cmh) l c h/0.1)), linear-gradient(to bottom, var(--cm95), var(--cm75));
}
#menu ul li a:active {
  background: radial-gradient(transparent, oklch(from var(--cwh) l c h/0.1)), linear-gradient(to bottom, var(--cw95), var(--cw75));
}
#menu ul li a.submenu::before, #menu ul li a.submenu::after {
  content: "▼";
  display: inline-block;
  position: absolute;
  top: 0.5em;
  opacity: 0.25;
  vertical-align: middle;
  transition: transform 0.5s;
  transform: rotate(0deg);
}
@media only print {
  #menu ul li a.submenu::before, #menu ul li a.submenu::after {
    display: none;
  }
}
#menu ul li a.submenu::before {
  left: 0.5em;
  margin-right: 0.5em;
  transform: rotate(-90deg);
}
#menu ul li a.submenu::after {
  right: 0.5em;
  margin-left: 0.5em;
  transform: rotate(90deg);
}
#menu ul li.current {
  position: relative;
  z-index: 1;
}
#menu ul li.current a {
  background: radial-gradient(transparent, oklch(from var(--cmh) l c h/0.1)), linear-gradient(to bottom, var(--cm95), var(--cm75));
  background-size: 1000% 1000%;
  /* Flip the dropdown menu arrows */
}
#menu ul li.current a:hover {
  background: radial-gradient(transparent, oklch(from var(--cwh) l c h/0.1)), linear-gradient(to bottom, var(--cw95), var(--cw75));
  background-size: 100% 100%;
}
#menu ul li.current a:active {
  background: radial-gradient(transparent, oklch(from var(--cwh) l c h/0.1)), linear-gradient(to bottom, var(--cw95), var(--cw75));
  background-size: 100% 100%;
}
#menu ul li.current a::before, #menu ul li.current a::after {
  transform: rotate(0deg);
}
#menu ul li ul {
  display: none;
  overflow-y: auto;
  position: static;
  z-index: -1;
  top: 0;
  left: 0.5em;
  width: 100%;
  padding: 0.125em 0;
  border-radius: 0.5em;
  background: linear-gradient(to right, var(--cm70), var(--cm80), var(--cm70));
  background-size: 1000% 1000%;
  background-position-x: 50%;
  box-shadow: 1pt 1pt 0pt transparent inset, -1pt -1pt 0pt transparent inset, 1pt 1pt 1pt transparent, 0 0 0 1pt var(--shade) inset;
  transition: box-shadow 0.5s, background-size 0.5s, background-position-x 0.5s;
}
#menu ul li ul:hover, #menu ul li ul:focus, #menu ul li ul:active {
  box-shadow: 1pt 1pt 0pt var(--gloss) inset, -1pt -1pt 0pt var(--shade) inset, 1pt 1pt 1pt var(--shade), 0 0 0 1pt transparent inset;
  background-size: 100% 100%;
}
@media (min-width: 40rem) {
  #menu ul li ul {
    position: absolute;
    width: calc(100% - 1em);
    max-height: calc(100vh - 10em);
    padding: 0;
    padding-top: 2em;
  }
}
#menu ul li ul li {
  display: block;
  margin: 0.5em;
  white-space: normal;
}
#menu ul li ul li a {
  width: calc(100% - 2em);
  padding: 0.5em 1em;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  margin: 0;
  padding: 1em;
  gap: 1em;
  border: 0;
  outline: 0;
  background: radial-gradient(farthest-corner, var(--cw90), var(--cw95));
  line-height: 1.5;
}
@media (min-width: 80rem) {
  main {
    font-size: calc(1pc + 0.005 * (100vw - 80ch));
  }
  main h1 {
    font-size: calc(1.5 * (1pc + 0.005 * (100vw - 80ch)) + 1.2vmin);
  }
  main h2 {
    font-size: calc(1.4 * (1pc + 0.005 * (100vw - 80ch)) + 1vmin);
  }
  main h3 {
    font-size: calc(1.3 * (1pc + 0.005 * (100vw - 80ch)) + 0.8vmin);
  }
  main h4 {
    font-size: calc(1.2 * (1pc + 0.005 * (100vw - 80ch)) + 0.6vmin);
  }
  main h5 {
    font-size: calc(1.1 * (1pc + 0.005 * (100vw - 80ch)) + 0.4vmin);
  }
  main h6 {
    font-size: calc(1 * (1pc + 0.005 * (100vw - 80ch)) + 0.2vmin);
  }
}
main > * {
  flex: 0 1 auto;
}
main p {
  text-indent: 2em;
}
main p.description {
  padding: 1em;
  padding-top: 0;
  border-radius: 1em;
  border: none;
  border-bottom: 1pt groove var(--cw75);
  font-style: italic;
  text-align: center;
  text-indent: 0;
}
main ul,
main ol {
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-left: 2em;
}
main ul li,
main ol li {
  margin: 1em 0;
  padding: 0;
}
main ul p,
main ol p {
  border: 0;
  text-indent: 0;
}
main ul.toc,
main ol.toc {
  text-align: center;
}
main ul.toc li,
main ol.toc li {
  margin: 0;
  margin-bottom: 0.5em;
  padding: 0;
}
main ul.toc li:before,
main ol.toc li:before {
  display: none;
}
main ul.toc li span,
main ol.toc li span {
  white-space: nowrap;
}
main blockquote {
  position: relative;
  margin: 0 auto;
  padding: 1em 2em;
  border: 1pt dashed var(--cw75);
  border-radius: 0.5em;
}
main blockquote:before {
  content: "“";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 2em;
  text-align: left;
}
main blockquote:after {
  content: "”";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  bottom: 0;
  right: 1rem;
  font-size: 2em;
  text-align: right;
}
main hr {
  content: url(/images/hr-vine.svg);
  clear: both;
  width: 100%;
  margin: 1em auto;
  padding: 0;
  border: 0;
  outline: 0;
  filter: drop-shadow(0 2pt 1pt var(--shade));
}
main hr:nth-of-type(even) {
  transform: scaleX(-1);
}
main table {
  width: calc(100% - 2em);
  font-size: 1em;
  border: 1pt solid black;
  margin: 1em auto auto auto;
  background: #ccc;
}
main table th {
  padding: 1em;
  border: 1pt solid black;
  background: var(--cm95);
  text-align: center;
}
main table th td {
  padding: 1em;
  border: 1pt solid black;
  background: white;
  text-align: center;
}
main .toggleAllControls {
  width: 100%;
  max-width: 80ch;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1em;
}
@media (min-width: 40rem) {
  main .toggleAllControls {
    flex-wrap: nowrap;
  }
}
main .toggleAllControls a {
  flex: 1 1 100%;
  position: relative;
  font-size: 0.75pc;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 0.5em;
  padding: 0.25em 2em;
  border: 1px solid #0004;
  opacity: 0.75;
  transition: all 0.5s;
}
main .toggleAllControls a.expandAll::before, main .toggleAllControls a.expandAll::after, main .toggleAllControls a.expandAnchor::before, main .toggleAllControls a.expandAnchor::after, main .toggleAllControls a.collapseOthers::before, main .toggleAllControls a.collapseOthers::after, main .toggleAllControls a.collapseAll::before, main .toggleAllControls a.collapseAll::after {
  content: "▼";
  opacity: 0.25;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
main .toggleAllControls a.expandAll::before, main .toggleAllControls a.expandAnchor::before, main .toggleAllControls a.collapseOthers::before, main .toggleAllControls a.collapseAll::before {
  left: 0.5em;
}
main .toggleAllControls a.expandAll::after, main .toggleAllControls a.expandAnchor::after, main .toggleAllControls a.collapseOthers::after, main .toggleAllControls a.collapseAll::after {
  right: 0.5em;
}
main .toggleAllControls a.collapseOthers::before, main .toggleAllControls a.collapseAll::before {
  transform: rotate(-90deg);
}
main .toggleAllControls a.collapseOthers::after, main .toggleAllControls a.collapseAll::after {
  transform: rotate(90deg);
}
main .toggleAllControls a.anchorTarget {
  border-left-width: 0;
  border-right-width: 0;
  border-radius: 0;
  order: 10;
}
@media (min-width: 40rem) {
  main .toggleAllControls a.anchorTarget {
    order: unset;
  }
}
main .toggleAllControls a.anchorTarget::before, main .toggleAllControls a.anchorTarget::after {
  content: "↴";
}
main .toggleAllControls a.anchorTarget::before {
  margin-right: 1ch;
  transform: scaleY(-1) rotate(-90deg);
}
main .toggleAllControls a.anchorTarget::after {
  margin-left: 1ch;
}
:last-of-type main .toggleAllControls a.anchorTarget.disabled {
  opacity: 0.125;
}
:last-of-type main .toggleAllControls a.anchorTarget.disabled::before, :last-of-type main .toggleAllControls a.anchorTarget.disabled::after {
  display: none;
}
main .toggleAllControls a.disabled {
  pointer-events: none;
  opacity: 0.25;
  display: none;
}
@media (min-width: 40rem) {
  main .toggleAllControls a.disabled {
    display: block;
  }
}
main .toggleAllControls:last-of-type .anchorTarget {
  order: -1;
}
@media (min-width: 40rem) {
  main .toggleAllControls:last-of-type .anchorTarget {
    order: unset;
  }
}
main .toggleAllControls:last-of-type .anchorTarget::before {
  transform: rotate(-90deg);
}
main .toggleAllControls:last-of-type .anchorTarget::after {
  transform: scaleY(-1);
}
@media only print {
  main .toggleAllControls {
    display: none;
  }
}
main section {
  clear: both;
  width: calc(100% - 2em);
  max-width: 80ch;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  border: 0;
  outline: 0;
  border-radius: 2em;
  background: radial-gradient(farthest-corner, color-mix(in oklch, white, transparent 87.5%), color-mix(in oklch, white, transparent 50%));
  box-shadow: 2pt 2pt 2pt transparent, -2pt -2pt 2pt transparent, 1pt 1pt 0pt transparent inset, -1pt -1pt 0pt transparent inset, 0 0 0 1pt var(--gloss) inset;
  transition: box-shadow 1s;
}
main section:hover, main section:focus, main section:active {
  box-shadow: 2pt 2pt 2pt var(--shade), -2pt -2pt 2pt var(--gloss), 1pt 1pt 0pt var(--gloss) inset, -1pt -1pt 0pt var(--shade) inset, 0 0 0 1pt transparent inset;
}
main section:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
main section .gallery {
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
}
main section .gallery:hover, main section .gallery:active, main section .gallery:focus {
  background: none;
  box-shadow: none;
}
main section .gallery h1::before, main section .gallery h1::after,
main section .gallery h2::before,
main section .gallery h2::after,
main section .gallery h3::before,
main section .gallery h3::after,
main section .gallery h4::before,
main section .gallery h4::after,
main section .gallery h5::before,
main section .gallery h5::after,
main section .gallery h6::before,
main section .gallery h6::after {
  display: none;
}
main section.toggleable h1,
main section.toggleable h2,
main section.toggleable h3,
main section.toggleable h4,
main section.toggleable h5,
main section.toggleable h6 {
  padding: 1rem 3rem;
}
main section.toggleable h1::before, main section.toggleable h1::after,
main section.toggleable h2::before,
main section.toggleable h2::after,
main section.toggleable h3::before,
main section.toggleable h3::after,
main section.toggleable h4::before,
main section.toggleable h4::after,
main section.toggleable h5::before,
main section.toggleable h5::after,
main section.toggleable h6::before,
main section.toggleable h6::after {
  content: "▼";
  opacity: 0.0625;
  transition: all 0.5s;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
@media only print {
  main section.toggleable h1::before, main section.toggleable h1::after,
main section.toggleable h2::before,
main section.toggleable h2::after,
main section.toggleable h3::before,
main section.toggleable h3::after,
main section.toggleable h4::before,
main section.toggleable h4::after,
main section.toggleable h5::before,
main section.toggleable h5::after,
main section.toggleable h6::before,
main section.toggleable h6::after {
    display: none;
  }
}
main section.toggleable h1::before,
main section.toggleable h2::before,
main section.toggleable h3::before,
main section.toggleable h4::before,
main section.toggleable h5::before,
main section.toggleable h6::before {
  left: 0;
}
main section.toggleable h1::after,
main section.toggleable h2::after,
main section.toggleable h3::after,
main section.toggleable h4::after,
main section.toggleable h5::after,
main section.toggleable h6::after {
  right: 0;
}
main section.toggleable h1:hover::before, main section.toggleable h1:hover::after,
main section.toggleable h2:hover::before,
main section.toggleable h2:hover::after,
main section.toggleable h3:hover::before,
main section.toggleable h3:hover::after,
main section.toggleable h4:hover::before,
main section.toggleable h4:hover::after,
main section.toggleable h5:hover::before,
main section.toggleable h5:hover::after,
main section.toggleable h6:hover::before,
main section.toggleable h6:hover::after {
  opacity: 0.25;
}
main section.toggleable.collapsed h1::before,
main section.toggleable.collapsed h2::before,
main section.toggleable.collapsed h3::before,
main section.toggleable.collapsed h4::before,
main section.toggleable.collapsed h5::before,
main section.toggleable.collapsed h6::before {
  transform: rotate(-90deg);
  opacity: 0.25;
}
main section.toggleable.collapsed h1::after,
main section.toggleable.collapsed h2::after,
main section.toggleable.collapsed h3::after,
main section.toggleable.collapsed h4::after,
main section.toggleable.collapsed h5::after,
main section.toggleable.collapsed h6::after {
  transform: rotate(90deg);
  opacity: 0.25;
}
@media only print {
  main section.toggleable.collapsed > *:not(h2, h3, h4, h5, h6, .description) {
    display: initial !important;
  }
}
main section section {
  border-radius: 1.75em;
}
main section section section {
  border-radius: 1.5em;
}
main section section section section {
  border-radius: 1.25em;
}
main section section section section section {
  border-radius: 1em;
}
main section .duo {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  gap: 1em;
}
main section .duo > * {
  display: inline-block;
  float: none;
  flex: 1 1 20ch;
  width: 36em;
  max-width: calc(100% - 2em);
  padding: 0 1em;
  vertical-align: top;
}
main section .duo section {
  text-align: left;
}
main section .duo figure:nth-of-type(1n + 0) {
  float: none;
  margin: 1em;
}
main section .duo figure li {
  margin: 0.125em 0;
}
main section .duo figure li:before {
  content: none;
}
main section figure {
  float: none;
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 1em auto;
  transition: all 1s ease-in;
}
main section figure.contained {
  overflow: hidden;
  border: 0.125em solid var(--cw25);
  border-radius: 1em;
  background: var(--cw25);
  box-shadow: 2pt 2pt 1pt transparent, -2pt -2pt 2pt transparent, 1pt 1pt 0pt transparent inset, -1pt -1pt 0pt transparent inset, 0 0 0 1pt var(--shade) inset;
}
main section figure.contained:hover, main section figure.contained:focus, main section figure.contained:active {
  border-radius: 0.125em;
  box-shadow: 2pt 2pt 1pt var(--shade), -2pt -2pt 2pt var(--gloss), 1pt 1pt 0pt var(--gloss) inset, -1pt -1pt 0pt var(--shade) inset, 0 0 0 1pt transparent inset;
}
main section figure img {
  display: block;
  max-width: 100%;
  margin: auto;
}
main section figure ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 40rem) {
  main section figure {
    float: left;
    max-width: calc((100% - 2em) / 2);
    margin: 0 1em 1em 0;
  }
  main section figure:nth-of-type(even) {
    float: right;
    margin-left: 1em;
    margin-right: 0;
  }
  main section figure:active {
    max-width: 100%;
  }
  main section:nth-of-type(even) figure {
    float: right;
    margin-left: 1em;
    margin-right: 0;
  }
  main section:nth-of-type(even) figure:nth-of-type(even) {
    float: left;
    margin-right: 1em;
    margin-left: 0;
  }
  main section .solo {
    float: none;
    max-width: 100%;
  }
  main section .solo picture,
main section .solo img {
    max-width: 100%;
  }
}
@media only print {
  main section {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
main .gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 1em;
  border: 0;
  outline: 0 solid black;
  border-radius: 2em;
  background: radial-gradient(farthest-corner, color-mix(in oklch, white, transparent 87.5%), color-mix(in oklch, white, transparent 50%));
  text-align: center;
  font-size: 1rem;
  box-shadow: 2pt 2pt 2pt transparent, -2pt -2pt 2pt transparent, 1pt 1pt 0pt transparent inset, -1pt -1pt 0pt transparent inset, 0 0 0 1pt var(--shade) inset;
  transition: box-shadow 1s;
}
main .gallery:hover, main .gallery:focus, main .gallery:active {
  box-shadow: 2pt 2pt 2pt var(--shade), -2pt -2pt 2pt var(--gloss), 1pt 1pt 0pt var(--gloss) inset, -1pt -1pt 0pt var(--shade) inset, 0 0 0 1pt transparent inset;
}
main .gallery > * {
  flex: 1 1 16em;
}
main .gallery li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0.5em;
  padding: 1em;
  border: 0;
  border-radius: 1em;
  background-color: white;
  text-align: center;
  list-style: none;
  vertical-align: top;
  box-shadow: 2pt 2pt 1pt transparent, -2pt -2pt 2pt transparent, 1pt 1pt 0pt transparent inset, -1pt -1pt 0pt transparent inset, 0 0 0 1pt var(--shade) inset;
  transition: box-shadow 1s;
}
main .gallery li:hover, main .gallery li:focus, main .gallery li:active {
  box-shadow: 2pt 2pt 1pt var(--shade), -2pt -2pt 2pt var(--gloss), 1pt 1pt 0pt var(--gloss) inset, -1pt -1pt 0pt var(--shade) inset, 0 0 0 1pt transparent inset;
}
main .gallery li:before {
  display: none;
}
main .gallery li h3 {
  margin: 0;
  padding: 0.5em 2em;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  text-transform: none;
  line-height: 1.5;
}
main .gallery li a {
  margin: auto 0;
}
main .gallery li img {
  display: inline-block;
  max-width: 16em;
  max-height: 16em;
  margin: 0 auto;
  background: white;
}
main .gallery li p,
main .gallery li p.description {
  margin: 0 auto;
  padding: 0.5em 2em;
  border: 0;
  text-indent: 0;
  text-align: center;
  line-height: 1.5;
}

.display {
  display: flex;
  flex-flow: column nowrap;
  float: none;
  max-width: 100%;
  height: 100%;
  margin: -1em;
  padding: 2em;
  background: black;
  color: white;
}
.display img {
  max-width: 100%;
  max-height: calc(75vh - 288px);
  margin: 0 auto;
  object-fit: scale-down;
  background: white;
}
.display h2 {
  color: grey;
}

/* Modal image display */
.modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  background: radial-gradient(black, color-mix(in oklch, black, transparent 6.25%));
  color: grey;
  font-size: calc(1rem + 1vmin);
  text-align: center;
}
.modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: calc(100vw - 2 * (2vh + 1em));
  max-height: calc(100vh - 2 * (2vh + 5em));
  object-fit: scale-down;
  transform: translate(-50%, -50%);
  border: 1vh solid white;
  box-shadow: 0 0 3em 3em black;
}
.modal h2,
.modal nav {
  display: inline;
  position: absolute;
  z-index: 4;
  top: 0;
  width: auto;
  padding: 2em;
  color: grey;
}
.modal nav {
  top: auto;
  bottom: 0;
  background: none;
}
.modal a {
  display: inline-block;
  width: 1em;
  margin: 0 1em;
  padding: 0;
  border-radius: 1em;
  background: none;
  color: grey;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 0 0.125em transparent;
  transition: all 1s;
  user-select: none;
  cursor: pointer;
}
.modal a:hover, .modal a:focus, .modal a:active {
  text-shadow: 0 0 0.125em black;
}
.modal a:hover, .modal a:focus {
  color: white;
}

/*# sourceMappingURL=styles.css.map */
