@use "../../root/layout/breakpoints.scss" as *;
@use "../../root/colors/prefers-color-scheme.scss" as *;

/// Styling details for the main heading at small viewport widths
/// @group header
/// @requires {Length} $bp1 - Fist breakpoint value
/// @requires {mixin} prefers-color-scheme - DRY color scheme helper
/// @see {mixin} h1 - General styles for the main heading
/// @see {mixin} h1-large - Overrides for larger viewport widths

@mixin h1-small {
  /* Places the logo in a ::before pseudo-element */
  &::before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    background: center / contain no-repeat url(/_media/images/logo.png);
    flex-shrink: 0;
  }

  /* Places a hamburger menu in an ::after pseudo-element */
  &::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: center / contain no-repeat
      url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0.0em" y="0.0em" width="1.0em" height="1.0em" viewBox="0 0 1.0em 1.0em" ><rect x="0.0em" y="0.0em" width="1.0em" height="0.2em" /><rect x="0.0em" y="0.4em" width="1.0em" height="0.2em" /><rect x="0.0em" y="0.8em" width="1.0em" height="0.2em" /></svg>');
    flex-shrink: 0;
  }
  /* In light mode, it's unfiltered
     (and therefore black against the light background) */
  @include prefers-color-scheme("light") {
    &::after {
      filter: none;
    }
  }
  /* In dark mode, it's inverted
      (and therefore white against the dark background) */
  @include prefers-color-scheme("dark") {
    &::after {
      filter: invert(1);
    }
  }

  /* Makes different spans of text all equal sizes as each other */
  > span {
    flex-grow: 1;
    flex-basis: 100%;

    /* Hides sub-spans at smallest viewport widths,
       to collapse phrases down to acronyms
       (e.g. "Geek of all Trades" => "GoaT") */
    > span {
      display: none;

      /* Shows sub-spans again at slightly larger viewport widths */
      @media (min-width: $bp1) {
        display: inline;
      }
    }
  }

  /* Hides the first span
     (e.g. "Forrest Cameranesi");
     To be shown only at larger viewport widths */
  > span:first-of-type {
    display: none;
  }
}
