@use "../../../root/layout/breakpoints.scss" as *;

/// Styles for galleries that expand beyond the main section width
/// @group main
/// @require {Length} $bp3
///  - Third breakpoint value
/// @see {mixin} gallery
///  - General styles for galleries

@mixin gallery-expansive {
  &.expansive {
    /* Only applies at larger viewport widths */
    @media (min-width: $bp3) {
      /* Layout */
      justify-content: center;

      /* Sizing */
      box-sizing: border-box;
      width: 100vw;
      max-width: calc(100vw - (2 * var(--spacingAbs)) - (2 * var(--spacing)));

      /* Spacing */
      margin-left: calc(50% - 50vw + var(--spacingAbs) + var(--spacing));
      padding: var(--spacing);

      /* Borders */
      border-radius: calc(2 * var(--rounding));
      box-shadow: 2pt 2pt 2pt transparent, -2pt -2pt 2pt transparent,
        1pt 1pt 0pt transparent inset, -1pt -1pt 0pt transparent inset,
        0 0 0 1pt var(--shade) inset;
      &:hover,
      &:focus,
      &:active {
        box-shadow: 2pt 2pt 2pt var(--shade), -2pt -2pt 2pt var(--gloss),
          1pt 1pt 0pt var(--gloss) inset, -1pt -1pt 0pt var(--shade) inset,
          0 0 0 1pt transparent inset;
      }

      /* Background */
      background: radial-gradient(farthest-corner, var(--cbi), var(--cbo));

      /* Gallery item max-width sides multiple, used in max-width below */
      --gimwsm: 2;
      section {
        --gimwsm: 4;
        section {
          --gimwsm: 6;
          section {
            --gimwsm: 8;
            section {
              --gimwsm: 10;
            }
          }
        }
      }

      > .item {
        /* Make the last item in a gallery looks contained in the parent section */
        max-width: calc(80ch - var(--gimwsm) * var(--spacing));

        /* Make four-column gallery items transition in with appropriate timing */
        &:nth-of-type(4n + 1) {
          &,
          & * {
            --delB: calc(var(--dur) * 1 / 4);
          }
        }
        &:nth-of-type(4n + 2) {
          &,
          & * {
            --delB: calc(var(--dur) * 2 / 4);
          }
        }
        &:nth-of-type(4n + 3) {
          &,
          & * {
            --delB: calc(var(--dur) * 3 / 4);
          }
        }
        &:nth-of-type(4n + 0) {
          &,
          & * {
            --delB: calc(var(--dur) * 4 / 4);
          }
        }
        /* Make five-column gallery items transition in with appropriate timing */
        @media (min-width: 91rem) {
          &:nth-of-type(5n + 1) {
            &,
            & * {
              --delB: calc(var(--dur) * 1 / 5);
            }
          }
          &:nth-of-type(5n + 2) {
            &,
            & * {
              --delB: calc(var(--dur) * 2 / 5);
            }
          }
          &:nth-of-type(5n + 3) {
            &,
            & * {
              --delB: calc(var(--dur) * 3 / 5);
            }
          }
          &:nth-of-type(5n + 4) {
            &,
            & * {
              --delB: calc(var(--dur) * 5 / 5);
            }
          }
          &:nth-of-type(5n + 0) {
            &,
            & * {
              --delB: calc(var(--dur) * 5 / 5);
            }
          }
        }
        /* Make six-column gallery items transition in with appropriate timing */
        @media (min-width: 106rem) {
          &:nth-of-type(6n + 1) {
            &,
            & * {
              --delB: calc(var(--dur) * 1 / 6);
            }
          }
          &:nth-of-type(6n + 2) {
            &,
            & * {
              --delB: calc(var(--dur) * 2 / 6);
            }
          }
          &:nth-of-type(6n + 3) {
            &,
            & * {
              --delB: calc(var(--dur) * 3 / 6);
            }
          }
          &:nth-of-type(6n + 4) {
            &,
            & * {
              --delB: calc(var(--dur) * 4 / 6);
            }
          }
          &:nth-of-type(6n + 5) {
            &,
            & * {
              --delB: calc(var(--dur) * 5 / 6);
            }
          }
          &:nth-of-type(6n + 0) {
            &,
            & * {
              --delB: calc(var(--dur) * 6 / 6);
            }
          }
        }
        /* Make seven-column gallery items transition in with appropriate timing */
        @media (min-width: 120rem) {
          &:nth-of-type(7n + 1) {
            &,
            & * {
              --delB: calc(var(--dur) * 1 / 7);
            }
          }
          &:nth-of-type(7n + 2) {
            &,
            & * {
              --delB: calc(var(--dur) * 2 / 7);
            }
          }
          &:nth-of-type(7n + 3) {
            &,
            & * {
              --delB: calc(var(--dur) * 3 / 7);
            }
          }
          &:nth-of-type(7n + 4) {
            &,
            & * {
              --delB: calc(var(--dur) * 4 / 7);
            }
          }
          &:nth-of-type(7n + 5) {
            &,
            & * {
              --delB: calc(var(--dur) * 5 / 7);
            }
          }
          &:nth-of-type(7n + 6) {
            &,
            & * {
              --delB: calc(var(--dur) * 6 / 7);
            }
          }
          &:nth-of-type(7n + 0) {
            &,
            & * {
              --delB: calc(var(--dur) * 7 / 7);
            }
          }
        }
        /* Make eight-column gallery items transition in with appropriate timing */
        @media (min-width: 137rem) {
          &:nth-of-type(8n + 1) {
            &,
            & * {
              --delB: calc(var(--dur) * 1 / 8);
            }
          }
          &:nth-of-type(8n + 2) {
            &,
            & * {
              --delB: calc(var(--dur) * 2 / 8);
            }
          }
          &:nth-of-type(8n + 3) {
            &,
            & * {
              --delB: calc(var(--dur) * 3 / 8);
            }
          }
          &:nth-of-type(8n + 4) {
            &,
            & * {
              --delB: calc(var(--dur) * 4 / 8);
            }
          }
          &:nth-of-type(8n + 5) {
            &,
            & * {
              --delB: calc(var(--dur) * 5 / 8);
            }
          }
          &:nth-of-type(8n + 6) {
            &,
            & * {
              --delB: calc(var(--dur) * 6 / 8);
            }
          }
          &:nth-of-type(8n + 7) {
            &,
            & * {
              --delB: calc(var(--dur) * 7 / 8);
            }
          }
          &:nth-of-type(8n + 0) {
            &,
            & * {
              --delB: calc(var(--dur) * 8 / 8);
            }
          }
        }
        /* Make nine-column gallery items transition in with appropriate timing */
        @media (min-width: 152rem) {
          &:nth-of-type(9n + 1) {
            &,
            & * {
              --delB: calc(var(--dur) * 1 / 9);
            }
          }
          &:nth-of-type(9n + 2) {
            &,
            & * {
              --delB: calc(var(--dur) * 2 / 9);
            }
          }
          &:nth-of-type(9n + 3) {
            &,
            & * {
              --delB: calc(var(--dur) * 3 / 9);
            }
          }
          &:nth-of-type(9n + 4) {
            &,
            & * {
              --delB: calc(var(--dur) * 4 / 9);
            }
          }
          &:nth-of-type(9n + 5) {
            &,
            & * {
              --delB: calc(var(--dur) * 5 / 9);
            }
          }
          &:nth-of-type(9n + 6) {
            &,
            & * {
              --delB: calc(var(--dur) * 6 / 9);
            }
          }
          &:nth-of-type(9n + 7) {
            &,
            & * {
              --delB: calc(var(--dur) * 7 / 9);
            }
          }
          &:nth-of-type(9n + 8) {
            &,
            & * {
              --delB: calc(var(--dur) * 8 / 9);
            }
          }
          &:nth-of-type(9n + 0) {
            &,
            & * {
              --delB: calc(var(--dur) * 9 / 9);
            }
          }
        }
      }
    }
  }
}
