@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans&family=Princess+Sofia&display=swap');

$text: black;

/* Main colors */
$mh: hsl(120deg, 100%, 50%); // Main hue
$ch: adjust-hue($mh, 60deg); // Cooler hue
$wh: adjust-hue($mh, -60deg); // Warmer hue


/* Main hue gradients */
$mg50: desaturate($mh, 75%); // Sets overall saturation

/* Main hue shades */
$mg45: darken($mg50, 05%);
$mg40: darken($mg50, 10%);
$mg35: darken($mg50, 15%);
$mg30: darken($mg50, 20%);
$mg25: darken($mg50, 25%);
$mg20: darken($mg50, 30%);
$mg15: darken($mg50, 35%);
$mg10: darken($mg50, 40%);
$mg05: darken($mg50, 45%);

/* Main hue tints */
$mg95: lighten($mg50, 45%);
$mg90: lighten($mg50, 40%);
$mg85: lighten($mg50, 35%);
$mg80: lighten($mg50, 30%);
$mg75: lighten($mg50, 25%);
$mg70: lighten($mg50, 20%);
$mg65: lighten($mg50, 15%);
$mg60: lighten($mg50, 10%);
$mg55: lighten($mg50, 5%);


/* Cooler hue gradients */
$cg50: desaturate($ch, 75%); // Sets overall saturation

/* Cooler hue shades */
$cg45: darken($cg50, 05%);
$cg40: darken($cg50, 10%);
$cg35: darken($cg50, 15%);
$cg30: darken($cg50, 20%);
$cg25: darken($cg50, 25%);
$cg20: darken($cg50, 30%);
$cg15: darken($cg50, 35%);
$cg10: darken($cg50, 40%);
$cg05: darken($cg50, 45%);

/* Cooler hue tints */
$cg95: lighten($cg50, 45%);
$cg90: lighten($cg50, 40%);
$cg85: lighten($cg50, 35%);
$cg80: lighten($cg50, 30%);
$cg75: lighten($cg50, 25%);
$cg70: lighten($cg50, 20%);
$cg65: lighten($cg50, 15%);
$cg60: lighten($cg50, 10%);
$cg55: lighten($cg50, 5%);


/* Warmer hue gradients */
$wg50: desaturate($wh, 75%); // Sets overall saturation

/* Warmer hue shades */
$wg45: darken($wg50, 05%);
$wg40: darken($wg50, 10%);
$wg35: darken($wg50, 15%);
$wg30: darken($wg50, 20%);
$wg25: darken($wg50, 25%);
$wg20: darken($wg50, 30%);
$wg15: darken($wg50, 35%);
$wg10: darken($wg50, 40%);
$wg05: darken($wg50, 45%);

/* Warmer hue tints */
$wg95: lighten($wg50, 45%);
$wg90: lighten($wg50, 40%);
$wg85: lighten($wg50, 35%);
$wg80: lighten($wg50, 30%);
$wg75: lighten($wg50, 25%);
$wg70: lighten($wg50, 20%);
$wg65: lighten($wg50, 15%);
$wg60: lighten($wg50, 10%);
$wg55: lighten($wg50, 5%);


$shade: transparentize(black, 0.75);
$gloss: transparentize(white, 0.25);


html {
	height: 100%;
	background: black;
	color: $text;
	font: {
		family: 'Open Sans', sans-serif;
		size: 1pc;
	}
	line-height: 1;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

section, header, footer, main {	display: block; }

a {
	border: 0;
	color: $text;
	text-decoration: underline;
	text-shadow: 1pt 1pt 1pt transparentize($shade, 1);
	cursor: pointer;
	transition: color 0.5s, text-shadow 0.5s; 

	&:link,
	&:visited {
		color: $mg30;
	}
	&:hover { color: $mg35; }
	&:active { color: $mg40; }
	&:hover, &:active {
		text-shadow: 1pt 1pt 1pt transparentize($shade, 0.125);
	}

	img { border: 0; }
}

code {white-space: normal; }

h1,h2,h3,h4,h5,h6 {
	margin: 0 auto;
	padding: 1rem;
	border: none;
	outline: none;
	color: $mg30;
	font: {
		family: Handlee, 'Open Sans', sans-serif;
		weight: normal;
	}
	text-align: center;
	line-height: 1.25;
	text-shadow: 0.0625em 0.0625em 0.0625em transparentize($shade, 1);
	&:hover, &:focus, &:active, *:hover > &, *:focus > &, *:active > & {
		text-shadow: 0.0625em 0.0625em 0.0625em transparentize($shade, 0.125);
	}
	transition: text-shadow 1s;

	span { white-space: nowrap; } 

}

h1 { font-size: calc(1.5rem + 1.2vmin); }
h2 { font-size: calc(1.4rem + 1.0vmin); }
h3 { font-size: calc(1.3rem + 0.8vmin); }
h4 { font-size: calc(1.2rem + 0.6vmin); }
h5 { font-size: calc(1.1rem + 0.4vmin); }
h6 { font-size: calc(1.0rem + 0.2vmin); }

.toggleArrow {
	opacity: 0.25;
	transition: transform 0.5s;

	&.left {
		float:left;
		&.collapsed { transform: rotate(-90deg); }
		}
	&.right {
		float:right;
		&.collapsed { transform: rotate(90deg); }
	}
}


@keyframes windAndWaves {
	from {
		background-size: 4em, auto, auto, 100% 100%, auto, auto, auto;
	}
	to {
		background-size: 4em, auto, auto, 100% 200%, auto, auto, auto;
	}
}

@keyframes windAndWavesBig {
	from {
		background-size: 2em, auto, auto, 100% 100%, auto, auto, auto;
	}
	to {
		background-size: 2em, auto, auto, 100% 200%, auto, auto, auto;
	}
}


header {
	padding: 0;
	border: 0;
	background: black; 
	color: $text;
	text-align: center;

	h1 {
		background:
			url(/images/logo.png) center no-repeat,
			linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.25) 6.25%, rgba(0,0,0,0.125) 12.5%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.125) 87.5%, rgba(0,0,0,0.25) 93.75%, rgba(0,0,0,1) 100%),
			linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0.5) 6.25%, rgba(0,0,0,0.25) 12.5%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.25) 87.5%, rgba(0,0,0,0.5) 93.75%, rgba(0,0,0,1) 100%),
			linear-gradient(to bottom,
							rgba(255,255,128,0) 0%,
							rgba(255,255,128,0.125) 50% - 1.25*50%/2,
							rgba(255,255,128,0) 50% - 1.0*50%/2,
							rgba(255,255,128,0.125) 50% - 1.25*50%/4,
							rgba(255,255,128,0) 50% - 1.0*50%/4,
							rgba(255,255,128,0.125) 50% - 1.25*50%/8,
							rgba(255,255,128,0) 50% - 1.0*50%/8,
							rgba(255,255,128,0.125) 50% - 1.25*50%/16,
							rgba(255,255,128,0) 50% - 1.0*50%/16,
							rgba(255,255,128,0.125) 50% - 1.25*50%/32,
							rgba(255,255,128,0) 50% - 1.0*50%/32,
							rgba(255,255,128,0.125) 50% - 1.25*50%/64,
							rgba(255,255,128,0) 50% - 1.0*50%/64,
							rgba(255,255,128,0.125) 50% - 1.25*50%/128,
							rgba(255,255,128,0) 50% - 1.0*50%/128,
							rgba(255,255,128,0.125) 50% - 1.25*50%/256,
							rgba(255,255,128,0) 50% - 1.0*50%/256,
							rgba(255,255,128,0.125) 50% - 1.25*50%/512,
							rgba(255,255,128,0) 50% - 1.0*50%/512,
							rgba(255,255,128,0.125) 50% - 1.25*50%/1024,
							rgba(255,255,128,0) 50% - 1.0*50%/1024,
							rgba(128,255,255,0) 50% + 1.0*50%/1024,
							rgba(128,255,255,0.125) 50% + 1.75*50%/1024,
							rgba(128,255,255,0) 50% + 1.0*50%/512,
							rgba(128,255,255,0.125) 50% + 1.75*50%/512,
							rgba(128,255,255,0) 50% + 1.0*50%/256,
							rgba(128,255,255,0.125) 50% + 1.75*50%/256,
							rgba(128,255,255,0) 50% + 1.0*50%/128,
							rgba(128,255,255,0.125) 50% + 1.75*50%/128,
							rgba(128,255,255,0) 50% + 1.0*50%/64,
							rgba(128,255,255,0.125) 50% + 1.75*50%/64,
							rgba(128,255,255,0) 50% + 1.0*50%/32,
							rgba(128,255,255,0.125) 50% + 1.75*50%/32,
							rgba(128,255,255,0) 50% + 1.0*50%/16,
							rgba(128,255,255,0.125) 50% + 1.75*50%/16,
							rgba(128,255,255,0) 50% + 1.0*50%/8,
							rgba(128,255,255,0.125) 50% + 1.75*50%/8,
							rgba(128,255,255,0) 50% + 1.0*50%/4,
							rgba(128,255,255,0.125) 50% + 1.75*50%/4,
							rgba(128,255,255,0) 50% + 1.0*50%/2,
							rgba(128,255,255,0.125) 50% + 1.75*50%/2,
							rgba(128,255,255,0) 100%
							),
			radial-gradient(closest-side, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 50%),
			radial-gradient(closest-corner, rgba(255,255,255,0.875) 0%,rgba(255,255,255,0) 25%),
			linear-gradient(to bottom, #600 0%, #963 25%, #FF8 48%, #EFD 50%, #DFE 50%, #8FF 52%, #369 75%, #006 100%);
		background-size: 4em, auto, auto, auto, auto, 100% 100%, auto;
		background-position: center, center, center, center, center, center, center, center;
		margin: 0 auto;
		padding: 1rem;
		border: 0;
		color: rgba(0,0,0,0);
		font-family: "Princess Sofia", 'Open Sans', sans-serif;
		font-size: calc(1.5rem + 2.5vw);
		letter-spacing: 0.1em;
		line-height:2;
		text-shadow: none;
		&:hover {
			text-shadow: none;
		}
		transition: text-shadow 1s, color 0s, background-size 1s;
		animation-name: windAndWaves;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-direction: normal;
		animation-timing-function: cubic-bezier(0,0,1,0.75);

		@media (min-width: 80rem) {
			background-size: 2em, auto, auto, auto, auto, 100% 100%, auto;
			color: #020;
			text-shadow: 0 0 0.1em #FFF, 0 0 0.01em #FFF, 2pt 2pt 2pt rgba(0,0,0,0.25);
			animation-name: windAndWavesBig;
			&:hover {
				text-shadow: 0 0 0.1em #0F0, 0 0 0.01em #0F0, 2pt 2pt 2pt rgba(0,0,0,0.25);
			}
		}
		
		

		span.logo {
			display: block;
			width: 1em;
			height: 0em;
			margin: 0 auto ;
			visibility: hidden;

			@media (min-width: 80rem) {
				display: inline-block;
				width: 3em;
				height: 2em;
				margin: 0 auto ;
				visibility: hidden;
			}
		}
	}

	a { text-decoration:none; }

}


@keyframes waves {
	from {
		background-size: 100% 100%, auto;
	}
	to {
		background-size: 100% 200%, auto;
	}
}

footer {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background:
		linear-gradient(to bottom,
						rgba(255,255,255,0) 0%,
						rgba(255,255,255,0.0625) 50% - 1.5*50%/2,
						rgba(255,255,255,0) 50% - 1.0*50%/2,
						rgba(255,255,255,0.0625) 50% - 1.5*50%/4,
						rgba(255,255,255,0) 50% - 1.0*50%/4,
						rgba(255,255,255,0.0625) 50% - 1.5*50%/8,
						rgba(255,255,255,0) 50% - 1.0*50%/8,
						rgba(255,255,255,0.0625) 50% - 1.5*50%/16,
						rgba(255,255,255,0) 50% - 1.0*50%/16,
						rgba(255,255,255,0) 50% + 1.0*50%/16,
						rgba(255,255,255,0.0625) 50% + 1.5*50%/16,
						rgba(255,255,255,0) 50% + 1.0*50%/8,
						rgba(255,255,255,0.0625) 50% + 1.5*50%/8,
						rgba(255,255,255,0) 50% + 1.0*50%/4,
						rgba(255,255,255,0.0625) 50% + 1.5*50%/4,
						rgba(255,255,255,0) 50% + 1.0*50%/2,
						rgba(255,255,255,0.0625) 50% + 1.5*50%/2,
						rgba(255,255,255,0) 100%
						),
		linear-gradient(to bottom, $cg75 0%, $cg50 50%, $cg75 100%);
	background-size: 100% 100%, auto;
	background-position: center, center;
	border-top: 3pt ridge $wg75;
	color: $wg50;
	text-align: center;
	box-shadow: 0 0.5em 0.5em $shade inset;
	animation-name: waves;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;

	p {
		margin: 0;
		padding: 1em;
	}
	a {
		text-shadow: 1px 1px 1px $shade;
		&:link { color: $wg70; }
		&:hover { color: $wg80; }
		&:active { color: $wg90; }
		&:visited { color: $wg70; }
	}
}

#menu {
	position: sticky;
	top: 0;
	z-index: 1;
	max-height: 100vh;
	min-height: 4em;
	overflow-x: hidden;
	overflow-y: auto;
	transition: height 1s;
	padding: 0;
	background: linear-gradient(black 0em, $cg05 2em, $cg25 2em, $cg10 4em, $cg25 4em, $cg15 6em, $cg25 6em, $cg20 8em, $cg25 8em) no-repeat, black;
	background-position-y: 4em;
	background-attachment: local;
	
	@media (min-width: 40rem ) {
		max-height: auto;
		min-height: auto;
		overflow-x: visible;
		overflow-y: visible;
		background-position-y: 0;
		box-shadow: 0 -0.5rem 0.5rem black;
	}

	#hamburger {
		clear: both;
		width: 100vw;
		margin: 0;
		padding: 0;
		border: 0;
		border-top: 1pt $cg10 solid;
		background: black;
		text-align: center;
		line-height: 2;

		@media (min-width: 40rem) { display: none; }

		a {
			float: none;
			display: block;
			width: 100%;
			margin: 0;
			padding: 1rem 0;
			border: none;
			border-radius: 0;
			background: none;
			color: #FFF;
			text-decoration: none;
			box-shadow: none;

			&:hover, &:active {
				background: none;
			}
		}

		svg {
			fill: #355;
			vertical-align: middle;
		}

	}

	#fries {
		display: none;
		@media (min-width: 40rem) { display: block; }
	}

	a {
		display: block;
		float: left;
		margin: 0;
		margin-left: 0.5em;
		padding: 0 1em;
		border:none;
		outline:none;
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0.5em;
		background: linear-gradient(to bottom, $cg65 0%, $cg25 50%, $cg25 100%);
		background-size: 100% 200%;
		background-position-y: 100%;
		color: black;
		text: {
			align: center;
			decoration: none;
		}
		line-height: 2;
		box-shadow: 1pt 1pt 0pt transparentize($gloss, 1) inset, -1pt 0pt 0pt transparentize($shade, 1) inset, 1pt 1pt 0 0 transparentize($shade, 0.1875) inset;
		
		&:hover, &:focus, &:active {
			box-shadow: 1pt 1pt 0pt $gloss inset, -1pt 0pt 0pt $shade inset, 1pt 1pt 0 0 transparentize($shade, 1) inset;
			background-position-y: 0%;
		}
		transition: box-shadow 0.5s, background-position-y 0.5s, background-size 0.5s;


		&:visited { color: black; }

		&.current {
			position: relative;
			border: 1pt outset $cg70;
			border-bottom: none;
			background: linear-gradient(to bottom, white 0%, $cg85 50%, $cg85 100%);
			background-size: 100% 200%;
			background-position-y: 100%;
			text-decoration: none;
			box-shadow: 1pt 1pt 0pt transparentize($gloss, 1) inset, -1pt 0pt 0pt transparentize($shade, 1) inset;

			&:hover, &:focus, &:active {
				background-position-y: 0%;
			}
		}
	}

	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		clear: both;
		margin: 0;
		padding: 0.25em;
		border: 0;
		background: linear-gradient(to bottom, $cg85 0%, $cg85 50%, $cg75 100%);
		background-size: 100% 200%;
		background-position-y: 0%;
		text-align: center;
		line-height: 2.5;
		box-shadow: 0pt -1pt 0pt transparentize($shade, 1) inset, 0pt 1pt 1pt transparentize($shade, 1), 0 -1pt 0 0 $shade inset;
		&:hover, &:focus, &:active {
			box-shadow: 0pt -1pt 0pt $shade inset, 0pt 1pt 1pt $shade, 0 -1pt 0 0 transparentize($shade, 1) inset;
			background-position-y: 100%;
		}
		transition: box-shadow 0.5s, background-position-y 0.5s;

		> * {
			flex: 1 1 100%;
			white-space: normal;
			@media (min-width: 40rem) {
				flex: 1 0 10em;
				white-space: nowrap;
			}
		}

		li {
			position:relative;
			display: inline-block;
			height:auto;
			margin: 0.25em;
			padding: 0;
			border-radius: 0.5em;
			line-height: 1;
			list-style-type: none;

			a {
				display: inline-block;
				float: none;
				width: calc(100% - 4em);
				margin: 0;
				padding: 0.5em 2em;
				border: none;
				border-radius: 0.5em; 
				background:
					radial-gradient(transparentize($ch, 1), transparentize($ch, 0.9)),
					linear-gradient(to bottom, $cg95 0%, $cg75 100%);
				background-size: 1000% 1000%;
				background-position-y: 50%;
				color: black;
				font-weight: normal;
				text: {
					transform: none;
					decoration: none;
				}
				line-height: 1;
				box-shadow: 1pt 1pt 0pt transparentize($gloss, 1) inset, -1pt -1pt 0pt transparentize($shade, 1) inset, 1pt 1pt 1pt transparentize($shade, 1), 0 0 0 1pt transparentize($shade, 0.1875) inset;

				&:hover, &:focus, &:active {
					box-shadow: 1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset, 1pt 1pt 1pt $shade, 0 0 0 1pt transparentize($shade, 1) inset;
					background-size: 100% 100%;
				}
				
				&:hover {
					background:
						radial-gradient(transparentize($mh, 1), transparentize($mh, 0.9)),
						linear-gradient(to bottom, $mg95, $mg75);
				}
				&:active {
					background:
						radial-gradient(transparentize($wh, 1), transparentize($wh, 0.9)),
						linear-gradient(to bottom, $wg95, $wg75);
				}
				
				/* For the dropdown menu arrows */
				span {
					display: inline-block;
					position: absolute;
					top: 0.5em;
					opacity: 0.25;
					vertical-align: middle;
					transition: transform 0.5s;
					transform: rotate(0deg);
					
					&:first-of-type {
						left: 0.5em;
						margin-right: 0.5em;
						transform: rotate(-90deg);
					}
					&:last-of-type {
						right: 0.5em;
						margin-left: 0.5em;
						transform: rotate(90deg);
					}
				}
			}

			/* An active dropdown menu button */
			&.current {
				position:relative;
				z-index:1;
				
				a {
					background:
						radial-gradient(transparentize($mh, 1), transparentize($mh, 0.9)),
						linear-gradient(to bottom, $mg95, $mg75);
					background-size: 1000% 1000%;
					&:hover {
						background:
							radial-gradient(transparentize($wh, 1), transparentize($wh, 0.9)),
							linear-gradient(to bottom, $wg95, $wg75);
							background-size: 100% 100%;
					}
					&:active {
						background:
							radial-gradient(transparentize($wh, 1), transparentize($wh, 0.9)),
							linear-gradient(to bottom, $cg95, $cg75);
							background-size: 100% 100%;
					}
					
					/* Flip the dropdown menu arrows */
					span:first-of-type, span:last-of-type {
						transform: rotate(0); 
					}
				}
			}

			/* The contents of the dropdown menu */
			ul {
				display :none;
				overflow-y: auto;
				position: static;
				z-index: -1;
				top: 0;
				left: 0.5em;
				width: 100%;
				padding: 0.125em 0;
				border-radius: 0.5em;
				background: linear-gradient(to right, $mg70, $mg80, $mg70);
				background-size: 1000% 1000%;
				background-position-x: 50%;
				box-shadow: 1pt 1pt 0pt transparentize($gloss, 1) inset, -1pt -1pt 0pt transparentize($shade, 1) inset, 1pt 1pt 1pt transparentize($shade, 1), 0 0 0 1pt $shade inset;
				&:hover, &:focus, &:active {
					box-shadow: 1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset, 1pt 1pt 1pt $shade, 0 0 0 1pt transparentize($shade, 1) inset;
					background-size: 100% 100%;
				}
				transition: box-shadow 0.5s, background-size 0.5s, background-position-x 0.5s;

				@media (min-width: 40rem) {
					position: absolute;
					width: calc(100% - 1em);
					max-height: calc(100vh - 4.5em);
					padding: 0;
					padding-top: 2em;
				}

				li {
					display: block;
					margin: 0.5em;
					white-space: normal;

					a {
						width: calc(100% - 2em);
						padding: 0.5em 1em;
					}
				}
			}
		}
	}
}


main {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	flex: 1 1 auto;
	margin: 0;
	padding: 1em;
	border: 0;
	outline: 0;
	background: radial-gradient(farthest-corner, $wg90, $wg95);
	line-height: 1.5;
	
	@media (min-width: 80rem) {
		$mbfs: calc(1pc + 0.005*(100vw - 80em));
		h1 { font-size: calc(1.5*$mbfs + 1.2vmin); }
		h2 { font-size: calc(1.4*$mbfs + 1.0vmin); }
		h3 { font-size: calc(1.3*$mbfs + 0.8vmin); }
		h4 { font-size: calc(1.2*$mbfs + 0.6vmin); }
		h5 { font-size: calc(1.1*$mbfs + 0.4vmin); }
		h6 { font-size: calc(1.0*$mbfs + 0.2vmin); }

		font-size: $mbfs;
	}

	> * { flex: 1 1 auto; }
	h1,h2,h3,h4,h5,h6 { flex-grow: 0; }


	p {
		text-indent: 2em;

		&.description {
			padding: 1em;
			padding-top: 0;
			border-radius: 1em;
			border: none;
			border-bottom: 1pt groove $wg75;
			font-style: italic;
			text: {
				align: center;
				indent: 0;
			}
		}
	}

	ul, ol {
		overflow: hidden;
		margin: 0;
		padding: 0;
		padding-left: 2em;

		li {
			margin: 1em 0;
			padding: 0;
		}

		p {
			border: 0;
			text-indent: 0;
		}

		&.toc {
			text-align: center;

			li {
				margin: 0;
				margin-bottom: 0.5em;
				padding: 0;

				&:before { display: none; }
				span { white-space: nowrap; }
			}
		}
	}

	blockquote {
		position: relative;
		margin: 0 auto;
		padding: 1em 2em;
		border: 1pt dashed $wg75;
		border-radius: 0.5em;
		
		&:before {
			content: "“";
			display: block;
			width: 1em;
			height: 1em;
			position: absolute;
			top: 0;
			left: 1rem;
			font-size: 2em;
			text-align: left;
		}
		&:after {
			content:"”";
			display: block;
			width: 1em;
			height: 1em;
			position: absolute;
			bottom: 0;
			right: 1rem;
			font-size: 2em;
			text-align: right;
		}
	}

	hr {
		content: url(/images/hr-vine.svg);
		clear: both;
		width: 100%;
		margin: 1em auto;
		padding: 0;
		border: 0;
		outline: 0;
		filter: drop-shadow(0 2pt 1pt $shade);

		&:nth-of-type(even) {
			transform: scaleX(-1); 
		}
	}

	table {
		width: calc(100% - 2em);
		font-size: 1em;
		border: 1pt solid black;
		margin: 1em auto auto auto;
		background: #CCC;
		th {
			padding: 1em;
			border: 1pt solid black;
			background: $mg95;
			text-align: center;
			td {
				padding: 1em;
				border: 1pt solid black;
				background: white;
				text-align: center;
			}
		}
	}

	section {
		clear: both;
		width: calc(100% - 2em);
		max-width: 80em;
		margin: 0 auto;
		margin-bottom: 1em;
		padding: 1em;
		border: 0;
		outline: 0;
		border-radius: 2em;
		background: radial-gradient(farthest-corner, transparentize(white,0.875), transparentize(white,0.5));
		box-shadow: 2pt 2pt 2pt transparentize($shade, 1), -2pt -2pt 2pt transparentize($gloss, 1), 1pt 1pt 0pt transparentize($gloss, 1) inset, -1pt -1pt 0pt transparentize($shade, 1) inset, 0 0 0 1pt transparentize($shade, 0.1875) inset;
		&:hover, &:focus, &:active {
			box-shadow: 2pt 2pt 2pt $shade, -2pt -2pt 2pt $gloss, 1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset, 0 0 0 1pt transparentize($shade, 1) inset;
		}
		transition: box-shadow 1s;

		&:after {
			content: "";
			display: block;
			height: 0;
			clear: both;
		}

		.gallery {
			margin: 0;
			padding: 0;
			background: none;
			box-shadow: none;

			&:hover, &:active, &:focus {
				background: none;
				box-shadow: none;
			}
		}

		section {
			border-radius: 1.75em;
			section {
				border-radius: 1.5em;
				section {
					border-radius: 1.25em;
					section {
						border-radius: 1em;
					}
				}
			}
		}

		.duo {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
			align-items: flex-start;
			text-align: center;

			> * {
				display: inline-block;
				float: none;
				flex: 1 1 20em;
				width: 36em;
				max-width: calc(100% - 2em);
				margin: 1em;
				padding: 0 1em;
				vertical-align: top;
			}
			section { text-align: left; }
			figure {
				&:nth-of-type(1n+0) {
					float: none;
					margin: 1em;
				}
				li {
					margin: 0.125em 0;
					&:before {
						content: none;
					}
				}
			}
		}

		figure {
			float: none;
			display: block;
			width: 100%;
			max-width: 100%;
			margin: 1em auto;
			transition: max-width 0.5s ease-in 0s;

			img {
				display: block;
				max-width: 100%;
				margin: auto;
			}

			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
			}

		}

		@media (min-width: 40rem) {
			figure {
				float: left;
				max-width: 25em;
				margin: 0 1em 1em 0;

				&:nth-of-type(even) {
					float:right;
					margin-left:1em;
					margin-right:0;
				}

				&:active {
					max-width:100%;
				}
			}
			&:nth-of-type(even) figure {
				float:right;
				margin-left:1em;
				margin-right:0;

				&:nth-of-type(even) {
					float:left;
					margin-right:1em;
					margin-left:0;
				}
			}
			.solo {
				float: none;
				max-width: 100%;

				picture, img {
					max-width: 100%;
				}
			}
		}
	}

	.gallery {
		display:flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: stretch;
		max-width:100%;
		margin: 0 auto;
		margin-bottom: 1em;
		padding:1em;
		border: 0;
		outline: 0 solid #000;
		border-radius: 2em;
		background: radial-gradient(farthest-corner, transparentize(white,0.875), transparentize(white,0.5));
		text-align: center;
		font-size: 1rem;
		box-shadow: 2pt 2pt 2pt transparentize($shade, 1), -2pt -2pt 2pt transparentize($gloss, 1), 1pt 1pt 0pt transparentize($gloss, 1) inset, -1pt -1pt 0pt transparentize($shade, 1) inset, 0 0 0 1pt $shade inset;
		&:hover, &:focus, &:active {
			box-shadow: 2pt 2pt 2pt $shade, -2pt -2pt 2pt $gloss, 1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset, 0 0 0 1pt transparentize($shade, 1) inset;
		}
		transition: box-shadow 1s;

		> * {
			flex: 2 0 16em;
		} 

		li {
			display: flex;
			flex-flow: column nowrap;
			justify-content: space-between;
			width: 16em;
			margin: 0.5em;
			padding: 0 1em;
			border: 0;
			border-radius: 1em;
			background-color: white;
			text-align: center;
			list-style: none;
			vertical-align: top;
			box-shadow: 2pt 2pt 1pt transparentize($shade, 1), -2pt -2pt 2pt transparentize($gloss, 1), 1pt 1pt 0pt transparentize($gloss, 1) inset, -1pt -1pt 0pt transparentize($shade, 1) inset, 0 0 0 1pt $shade inset;
			&:hover, &:focus, &:active {
				box-shadow: 2pt 2pt 1pt $shade, -2pt -2pt 2pt $gloss, 1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset, 0 0 0 1pt transparentize($shade, 1) inset;
			}
			transition: box-shadow 1s;

			&:before { display: none; }

			h3 {
				margin: 0;
				padding: 0.5em 2em;
				font: {
					family: 'Open Sans', sans-serif;
					size: 1em;
				}
				text-transform: none;
				line-height: 1.5;
			}

			img {
				display: inline-block;
				max-width: 16em;
				max-height: 16em;
				margin: 0 auto; 
				background: white;
			}

			p, p.description {
				margin: 0 auto;
				padding: 0.5em 2em;
				border: 0;
				text: {
					indent: 0;
					align: center;
				}
				line-height: 1.5;
			}
		}
	}
}

.display {
	display: flex;
	flex-flow: column nowrap;
	float: none;
	max-width: 100%;
	height: 100%;
	margin: -1em;
	padding: 2em;
	background: black;
	color: white;

	img {
		max-width: 100%;
		max-height: calc(75vh - 288px);
		margin:0 auto;
		object-fit: scale-down;
		background: white;
	}

	h2 {
		color: grey;
	}
}


/* Modal image display */
.modal {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 0;
	padding: 0;
	opacity: 0;
	background: radial-gradient(black,transparentize(black,0.0625));
	color: grey;
	font-size: calc(1rem + 1vmin);
	text-align: center;

	img {
		position: absolute;
		top: 50%;
		left: 50%;
		max-width: calc(100vw - 2 * (2vh + 1em));
		max-height: calc(100vh - 2 * (2vh + 5em));
		object-fit: scale-down;
		transform: translate(-50%, -50%);
		border: 1vh solid white;
		box-shadow: 0 0 3em 3em black;
	}

	h2, nav {
		display: inline;
		position: absolute;
		z-index: 4;
		top: 0;
		width: auto;
		padding: 2em;
		color: grey;
	}

	nav {
		top: auto;
		bottom: 0;
		background: none;
	}

	a {
		display: inline-block;
		width: 1em;
		margin: 0 1em;
		padding: 0;
		border-radius: 1em;
		background: none;
		color: grey;
		font-weight: bold;
		text-decoration: none;
		text-shadow: 0 0 0.125em transparentize(black, 1);
		&:hover, &:focus, &:active {
			text-shadow: 0 0 0.125em black;
		}
		transition: text-shadow 1s;
		user-select: none;
		cursor: pointer;

		&:hover, &:focus {
			color: white;
		}
	}

}