@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Open+Sans&family=Princess+Sofia&display=swap");

$text: black;

/* Main colors */
$mh: hsl(120deg, 100%, 50%); // Main hue
$ch: adjust-hue($mh, 60deg); // Cooler hue
$wh: adjust-hue($mh, -60deg); // Warmer hue

/* Main hue ramp */
$mg50: desaturate($mh, 75%); // Sets overall saturation

/* Main hue shades */
$mg45: darken($mg50, 05%);
$mg40: darken($mg50, 10%);
$mg35: darken($mg50, 15%);
$mg30: darken($mg50, 20%);
$mg25: darken($mg50, 25%);
$mg20: darken($mg50, 30%);
$mg15: darken($mg50, 35%);
$mg10: darken($mg50, 40%);
$mg05: darken($mg50, 45%);

/* Main hue tints */
$mg95: lighten($mg50, 45%);
$mg90: lighten($mg50, 40%);
$mg85: lighten($mg50, 35%);
$mg80: lighten($mg50, 30%);
$mg75: lighten($mg50, 25%);
$mg70: lighten($mg50, 20%);
$mg65: lighten($mg50, 15%);
$mg60: lighten($mg50, 10%);
$mg55: lighten($mg50, 5%);

/* Cooler hue ramp */
$cg50: desaturate($ch, 75%); // Sets overall saturation

/* Cooler hue shades */
$cg45: darken($cg50, 05%);
$cg40: darken($cg50, 10%);
$cg35: darken($cg50, 15%);
$cg30: darken($cg50, 20%);
$cg25: darken($cg50, 25%);
$cg20: darken($cg50, 30%);
$cg15: darken($cg50, 35%);
$cg10: darken($cg50, 40%);
$cg05: darken($cg50, 45%);

/* Cooler hue tints */
$cg95: lighten($cg50, 45%);
$cg90: lighten($cg50, 40%);
$cg85: lighten($cg50, 35%);
$cg80: lighten($cg50, 30%);
$cg75: lighten($cg50, 25%);
$cg70: lighten($cg50, 20%);
$cg65: lighten($cg50, 15%);
$cg60: lighten($cg50, 10%);
$cg55: lighten($cg50, 5%);

/* Warmer hue ramp */
$wg50: desaturate($wh, 75%); // Sets overall saturation

/* Warmer hue shades */
$wg45: darken($wg50, 05%);
$wg40: darken($wg50, 10%);
$wg35: darken($wg50, 15%);
$wg30: darken($wg50, 20%);
$wg25: darken($wg50, 25%);
$wg20: darken($wg50, 30%);
$wg15: darken($wg50, 35%);
$wg10: darken($wg50, 40%);
$wg05: darken($wg50, 45%);

/* Warmer hue tints */
$wg95: lighten($wg50, 45%);
$wg90: lighten($wg50, 40%);
$wg85: lighten($wg50, 35%);
$wg80: lighten($wg50, 30%);
$wg75: lighten($wg50, 25%);
$wg70: lighten($wg50, 20%);
$wg65: lighten($wg50, 15%);
$wg60: lighten($wg50, 10%);
$wg55: lighten($wg50, 5%);

$shade: transparentize(black, 0.75);
$gloss: transparentize(white, 0.25);

html {
  height: 100%;
  background: black;
  color: $text;
  font: {
    family: "Open Sans", sans-serif;
    size: 1pc;
  }
  line-height: 1;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

section,
header,
footer,
main {
  display: block;
}

a {
  border: 0;
  color: $text;
  text-decoration: underline;
  text-shadow: 1pt 1pt 1pt transparentize($shade, 1);
  cursor: pointer;
  transition: color 0.5s, text-shadow 0.5s;

  &:link,
  &:visited {
    color: $mg30;
  }
  &:hover {
    color: $mg35;
  }
  &:active {
    color: $mg40;
  }
  &:hover,
  &:active {
    text-shadow: 1pt 1pt 1pt transparentize($shade, 0.125);
  }

  img {
    border: 0;
  }
}

code {
  white-space: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 auto;
  padding: 1rem;
  border: none;
  outline: none;
  color: $mg30;
  font: {
    family: Handlee, "Open Sans", sans-serif;
    weight: normal;
  }
  text-align: center;
  line-height: 1.25;
  text-shadow: 0.0625em 0.0625em 0.0625em transparentize($shade, 1);
  &:hover,
  &:focus,
  &:active,
  *:hover > &,
  *:focus > &,
  *:active > & {
    text-shadow: 0.0625em 0.0625em 0.0625em transparentize($shade, 0.125);
  }
  transition: all 1s;
  position: relative;
  overflow-wrap: anywhere;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // gap: 0.5ch;

  span {
    white-space: nowrap;
  }
}

h1 {
  font-size: calc(1.5rem + 1.2vmin);
}
h2 {
  font-size: calc(1.4rem + 1vmin);
}
h3 {
  font-size: calc(1.3rem + 0.8vmin);
}
h4 {
  font-size: calc(1.2rem + 0.6vmin);
}
h5 {
  font-size: calc(1.1rem + 0.4vmin);
}
h6 {
  font-size: calc(1rem + 0.2vmin);
}

@keyframes windAndWaves {
  from {
    background-size: 100% 100%, auto;
  }
  to {
    background-size: 100% 200%, auto;
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  max-height: 100vh;
  padding: 0;
  border: 0;
  background: black;
  color: $text;
  text-align: center;
  overflow-y: hidden;
  display: flex;
  flex-flow: column;

  @media (min-width: 40rem) {
    top: calc(-1 * (3 * max(1.5rem, 4vw) + 2vw + 0.5rem));
    overflow-y: visible;
  }

  @media only print {
    display: none;
  }

  h1,
  &:hover h1 {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 128, 0) 0%,
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 2),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 2),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 4),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 4),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 8),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 8),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 16),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 16),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 32),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 32),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 64),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 64),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 128),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 128),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 256),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 256),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 512),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 512),
        rgba(255, 255, 128, 0.125) calc(50% - 1.25 * 50% / 1024),
        rgba(255, 255, 128, 0) calc(50% - 1 * 50% / 1024),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 1024),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 1024),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 512),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 512),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 256),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 256),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 128),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 128),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 64),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 64),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 32),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 32),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 16),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 16),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 8),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 8),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 4),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 4),
        rgba(128, 255, 255, 0) calc(50% + 1 * 50% / 2),
        rgba(128, 255, 255, 0.125) calc(50% + 1.75 * 50% / 2),
        rgba(128, 255, 255, 0) 100%
      ),
      linear-gradient(
        to bottom,
        #600 0%,
        #963 25%,
        #ff8 48%,
        #efd 50%,
        #dfe 50%,
        #8ff 52%,
        #369 75%,
        #006 100%
      );
    background-size: 100% 100%, auto;
    background-position: center, center, center;
    margin: 0 auto;
    padding: 1vw 3vw;
    border: 0.25em solid black;
    border-radius: 0.5em;
    outline: 1px solid black;
    color: black;
    font-family: "Princess Sofia", "Open Sans", sans-serif;
    font-size: max(1.5rem, 4vw);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    letter-spacing: 0.1em;
    line-height: 2;
    transition: all 1s;
    animation-name: windAndWaves;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0, 0, 1, 0.75);
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      background: center / contain no-repeat url(/images/logo.png);
      flex-shrink: 0;
    }

    &::after {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
      background: center / contain no-repeat
        url('data:image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0.0em" y="0.0em" width="1.0em" height="1.0em" viewBox="0 0 1.0em 1.0em" ><rect x="0.0em" y="0.0em" width="1.0em" height="0.2em" /><rect x="0.0em" y="0.4em" width="1.0em" height="0.2em" /><rect x="0.0em" y="0.8em" width="1.0em" height="0.2em" /></svg>');
      flex-shrink: 0;
    }

    > span {
      flex-grow: 1;
      flex-basis: 100%;

      > span {
        display: none;

        @media (min-width: 20rem) {
          display: inline;
        }
      }
    }

    > span:first-of-type {
      display: none;
    }

    @media (min-width: 40rem) {
      background-size: 100% 100%, auto;
      text-shadow: none;
      padding: 1vw;
      border: 0.5rem solid black;
      border-radius: 6.25vw 6.25vw 0 0;
      box-shadow: inset 0 0 0.5vw 0 #0008, inset 0 0 0 0.5vw #000c;
      &:hover {
        color: $mg30;
        text-shadow: 0.0125em 0.0125em 0.0125em #000,
          0.025em 0.025em 0.025em #0008, 0.05em 0.05em 0.05em #0004,
          0.1em 0.1em 0.1em #0002;
      }

      &::before {
        width: 3em;
        height: 3em;
      }

      &::after {
        display: none;
      }

      > span:first-of-type {
        display: inline;
        order: -1;
      }
    }
  }

  a {
    text-decoration: none;
  }
}

@keyframes waves {
  from {
    background-size: 100% 100%, auto;
  }
  to {
    background-size: 100% 200%, auto;
  }
}

footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.0625) calc(50% - 1.5 * 50% / 2),
      rgba(255, 255, 255, 0) calc(50% - 1 * 50% / 2),
      rgba(255, 255, 255, 0.0625) calc(50% - 1.5 * 50% / 4),
      rgba(255, 255, 255, 0) calc(50% - 1 * 50% / 4),
      rgba(255, 255, 255, 0.0625) calc(50% - 1.5 * 50% / 8),
      rgba(255, 255, 255, 0) calc(50% - 1 * 50% / 8),
      rgba(255, 255, 255, 0.0625) calc(50% - 1.5 * 50% / 16),
      rgba(255, 255, 255, 0) calc(50% - 1 * 50% / 16),
      rgba(255, 255, 255, 0) calc(50% + 1 * 50% / 16),
      rgba(255, 255, 255, 0.0625) calc(50% + 1.5 * 50% / 16),
      rgba(255, 255, 255, 0) calc(50% + 1 * 50% / 8),
      rgba(255, 255, 255, 0.0625) calc(50% + 1.5 * 50% / 8),
      rgba(255, 255, 255, 0) calc(50% + 1 * 50% / 4),
      rgba(255, 255, 255, 0.0625) calc(50% + 1.5 * 50% / 4),
      rgba(255, 255, 255, 0) calc(50% + 1 * 50% / 2),
      rgba(255, 255, 255, 0.0625) calc(50% + 1.5 * 50% / 2),
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(to bottom, $cg75 0%, $cg50 50%, $cg75 100%);
  background-size: 100% 100%, auto;
  background-position: center, center;
  border-top: 3pt ridge $wg75;
  color: $wg50;
  text-align: center;
  box-shadow: 0 0.5em 0.5em $shade inset;
  animation-name: waves;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;

  p {
    margin: 0;
    padding: 1em;
  }
  a {
    text-shadow: 1px 1px 1px $shade;
    text-decoration: none;
    &:link {
      color: $wg85;
    }
    &:hover {
      color: $wg90;
    }
    &:active {
      color: $wg95;
    }
    &:visited {
      color: $wg70;
    }
  }
  @media only print {
    display: none;
  }
}

#menu {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  padding-right: 0.5em;
  // background: linear-gradient(
  //       black 0em,
  //       $cg05 2em,
  //       $cg25 2em,
  //       $cg10 4em,
  //       $cg25 4em,
  //       $cg15 6em,
  //       $cg25 6em,
  //       $cg20 8em,
  //       $cg25 8em
  //     )
  //     no-repeat,
  //   black;
  // background-position-y: 4em;
  // background-attachment: local;
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 1;
  position: relative;
  z-index: 1;

  @media (min-width: 40rem) {
    flex-flow: row wrap;
    max-height: auto;
    min-height: auto;
    overflow-x: visible;
    overflow-y: visible;
    background-position-y: 0;
  }

  @media only print {
    display: none;
  }

  > a {
    display: block;
    float: left;
    order: -1;
    margin: 0;
    margin-left: 0.5em;
    margin-bottom: -2em;
    padding: 0 1em;
    padding-bottom: 2em;
    border: none;
    border-top: 0px solid white;
    outline: none;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background: linear-gradient(to bottom, $cg65 0%, $cg25 50%, $cg05 100%);
    background-size: 100% 200%;
    background-position-y: 6.25%;
    color: white;
    text: {
      align: center;
      decoration: none;
    }
    line-height: 2;
    flex: 1 1 auto;
    box-shadow: 1pt 1pt 0pt transparentize($gloss, 1) inset,
      -1pt 0pt 0pt transparentize($shade, 1) inset,
      1pt 1pt 0 0 transparentize($shade, 0.1875) inset;

    &:nth-of-type(4) {
      color: $cg95;
      border-top-color: $cg95;
      background-position-y: 12.5%;
    }
    &:nth-of-type(3) {
      color: $cg90;
      border-top-color: $cg90;
      background-position-y: 25%;
    }
    &:nth-of-type(2) {
      color: $cg75;
      border-top-color: $cg75;
      background-position-y: 50%;
    }
    &:nth-of-type(1) {
      color: $cg50;
      border-top-color: $cg50;
      background-position-y: 100%;
    }

    &:hover,
    &:focus,
    &:active {
      color: black;
      box-shadow: 1pt 1pt 0pt $gloss inset, -1pt 0pt 0pt $shade inset,
        1pt 1pt 0 0 transparentize($shade, 1) inset;
      background-position-y: 0%;
    }
    transition: all 0.5s;

    // &:visited {
    //   color: black;
    // }

    &:last-of-type {
      color: black;
      position: relative;
      border: 1pt outset $cg70;
      border-bottom: none;
      background: linear-gradient(to bottom, white 0%, $cg85 50%, $cg85 100%);
      background-size: 100% 200%;
      background-position-y: 100%;
      text-decoration: none;
      box-shadow: 1pt 1pt 0pt transparentize($gloss, 1) inset,
        -1pt 0pt 0pt transparentize($shade, 1) inset;

      &:hover,
      &:focus,
      &:active {
        background-position-y: 50%;
      }

      & + ul {
        display: flex;
        background: linear-gradient(to bottom, $cg85 0%, $cg85 50%, $cg75 100%);
        background-size: 100% 200%;
        background-position-y: 0%;
        box-shadow: 0pt -1pt 0pt transparentize($shade, 1) inset,
          0pt 1pt 1pt transparentize($shade, 1),
          0 -1pt 0 0 transparentize($shade, 0.1875) inset;
        &:hover,
        &:focus,
        &:active {
          box-shadow: 0pt -1pt 0pt $shade inset, 0pt 1pt 1pt $shade,
            0 -1pt 0 0 transparentize($shade, 1) inset;
          background-size: 100% 200%;
          background-position-y: 100%;
        }
      }
    }
  }

  ul {
    flex-basis: 100%;
    z-index: 1;
    display: none;
    flex-flow: row wrap;
    flex-shrink: 1;
    overflow-y: auto;
    justify-content: space-between;
    clear: both;
    margin: 0;
    margin-right: -0.5em;
    padding: 0.25em;
    border: 0;
    background: linear-gradient(to bottom, $cg65 0%, $cg25 50%, $cg20 100%);
    background-size: 100% 200%;
    background-position-y: 50%;
    text-align: center;
    line-height: 2.5;
    box-shadow: 0pt -1pt 0pt $shade inset, 0pt 1pt 1pt $shade,
      0 -1pt 0 0 transparentize($shade, 1) inset;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 0pt -1pt 0pt $shade inset, 0pt 1pt 1pt $shade,
        0 -1pt 0 0 transparentize($shade, 1) inset;
    }
    transition: box-shadow 0.5s, background-position-y 0.5s;

    @media (min-width: 40rem) {
      overflow-y: visible;
    }

    > * {
      flex: 1 1 100%;
      white-space: normal;
      @media (min-width: 40rem) {
        flex: 1 0 10em;
        white-space: nowrap;
      }
    }

    li {
      position: relative;
      display: inline-block;
      height: auto;
      margin: 0.25em;
      padding: 0;
      border-radius: 0.5em;
      line-height: 1;
      list-style-type: none;

      a {
        display: inline-block;
        float: none;
        width: calc(100% - 4em);
        margin: 0;
        padding: 0.5em 2em;
        border: none;
        border-radius: 0.5em;
        background: radial-gradient(
            transparentize($ch, 1),
            transparentize($ch, 0.9)
          ),
          linear-gradient(to bottom, $cg95 0%, $cg75 100%);
        background-size: 1000% 1000%;
        background-position-y: 50%;
        color: black;
        font-weight: normal;
        text: {
          transform: none;
          decoration: none;
        }
        line-height: 1;
        box-shadow: 1pt 1pt 0pt transparentize($gloss, 1) inset,
          -1pt -1pt 0pt transparentize($shade, 1) inset,
          1pt 1pt 1pt transparentize($shade, 1),
          0 0 0 1pt transparentize($shade, 0.1875) inset;
        transition: all 1s;

        &:hover,
        &:focus,
        &:active {
          box-shadow: 1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset,
            1pt 1pt 1pt $shade, 0 0 0 1pt transparentize($shade, 1) inset;
          background-size: 100% 100%;
        }

        &:hover {
          background: radial-gradient(
              transparentize($mh, 1),
              transparentize($mh, 0.9)
            ),
            linear-gradient(to bottom, $mg95, $mg75);
        }
        &:active {
          background: radial-gradient(
              transparentize($wh, 1),
              transparentize($wh, 0.9)
            ),
            linear-gradient(to bottom, $wg95, $wg75);
        }

        /* For the dropdown menu arrows */
        &.submenu {
          &::before,
          &::after {
            content: "▼";
            display: inline-block;
            position: absolute;
            top: 0.5em;
            opacity: 0.25;
            vertical-align: middle;
            transition: transform 0.5s;
            transform: rotate(0deg);

            @media only print {
              display: none;
            }
          }

          &::before {
            left: 0.5em;
            margin-right: 0.5em;
            transform: rotate(-90deg);
          }
          &::after {
            right: 0.5em;
            margin-left: 0.5em;
            transform: rotate(90deg);
          }
        }
      }

      /* An active dropdown menu button */
      &.current {
        position: relative;
        z-index: 1;

        a {
          background: radial-gradient(
              transparentize($mh, 1),
              transparentize($mh, 0.9)
            ),
            linear-gradient(to bottom, $mg95, $mg75);
          background-size: 1000% 1000%;
          &:hover {
            background: radial-gradient(
                transparentize($wh, 1),
                transparentize($wh, 0.9)
              ),
              linear-gradient(to bottom, $wg95, $wg75);
            background-size: 100% 100%;
          }
          &:active {
            background: radial-gradient(
                transparentize($wh, 1),
                transparentize($wh, 0.9)
              ),
              linear-gradient(to bottom, $cg95, $cg75);
            background-size: 100% 100%;
          }

          /* Flip the dropdown menu arrows */
          &::before,
          &::after {
            transform: rotate(0deg);
          }
        }
      }

      /* The contents of the dropdown menu */
      ul {
        display: none;
        overflow-y: auto;
        position: static;
        z-index: -1;
        top: 0;
        left: 0.5em;
        width: 100%;
        padding: 0.125em 0;
        border-radius: 0.5em;
        background: linear-gradient(to right, $mg70, $mg80, $mg70);
        background-size: 1000% 1000%;
        background-position-x: 50%;
        box-shadow: 1pt 1pt 0pt transparentize($gloss, 1) inset,
          -1pt -1pt 0pt transparentize($shade, 1) inset,
          1pt 1pt 1pt transparentize($shade, 1), 0 0 0 1pt $shade inset;
        &:hover,
        &:focus,
        &:active {
          box-shadow: 1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset,
            1pt 1pt 1pt $shade, 0 0 0 1pt transparentize($shade, 1) inset;
          background-size: 100% 100%;
        }
        transition: box-shadow 0.5s, background-size 0.5s,
          background-position-x 0.5s;

        @media (min-width: 40rem) {
          position: absolute;
          width: calc(100% - 1em);
          max-height: calc(100vh - 10em);
          padding: 0;
          padding-top: 2em;
        }

        li {
          display: block;
          margin: 0.5em;
          white-space: normal;

          a {
            width: calc(100% - 2em);
            padding: 0.5em 1em;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  margin: 0;
  padding: 1em;
  gap: 1em;
  border: 0;
  outline: 0;
  background: radial-gradient(farthest-corner, $wg90, $wg95);
  line-height: 1.5;

  @media (min-width: 80rem) {
    $mbfs: calc(1pc + 0.005 * (100vw - 80ch));
    h1 {
      font-size: calc(1.5 * $mbfs + 1.2vmin);
    }
    h2 {
      font-size: calc(1.4 * $mbfs + 1vmin);
    }
    h3 {
      font-size: calc(1.3 * $mbfs + 0.8vmin);
    }
    h4 {
      font-size: calc(1.2 * $mbfs + 0.6vmin);
    }
    h5 {
      font-size: calc(1.1 * $mbfs + 0.4vmin);
    }
    h6 {
      font-size: calc(1 * $mbfs + 0.2vmin);
    }

    font-size: $mbfs;
  }

  > * {
    flex: 0 1 auto;
  }

  p {
    text-indent: 2em;

    &.description {
      padding: 1em;
      padding-top: 0;
      border-radius: 1em;
      border: none;
      border-bottom: 1pt groove $wg75;
      font-style: italic;
      text: {
        align: center;
        indent: 0;
      }
    }
  }

  ul,
  ol {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-left: 2em;

    li {
      margin: 1em 0;
      padding: 0;
    }

    p {
      border: 0;
      text-indent: 0;
    }

    &.toc {
      text-align: center;

      li {
        margin: 0;
        margin-bottom: 0.5em;
        padding: 0;

        &:before {
          display: none;
        }
        span {
          white-space: nowrap;
        }
      }
    }
  }

  blockquote {
    position: relative;
    margin: 0 auto;
    padding: 1em 2em;
    border: 1pt dashed $wg75;
    border-radius: 0.5em;

    &:before {
      content: "“";
      display: block;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0;
      left: 1rem;
      font-size: 2em;
      text-align: left;
    }
    &:after {
      content: "”";
      display: block;
      width: 1em;
      height: 1em;
      position: absolute;
      bottom: 0;
      right: 1rem;
      font-size: 2em;
      text-align: right;
    }
  }

  hr {
    content: url(/images/hr-vine.svg);
    clear: both;
    width: 100%;
    margin: 1em auto;
    padding: 0;
    border: 0;
    outline: 0;
    filter: drop-shadow(0 2pt 1pt $shade);

    &:nth-of-type(even) {
      transform: scaleX(-1);
    }
  }

  table {
    width: calc(100% - 2em);
    font-size: 1em;
    border: 1pt solid black;
    margin: 1em auto auto auto;
    background: #ccc;
    th {
      padding: 1em;
      border: 1pt solid black;
      background: $mg95;
      text-align: center;
      td {
        padding: 1em;
        border: 1pt solid black;
        background: white;
        text-align: center;
      }
    }
  }

  .toggleAllControls {
    width: 100%;
    max-width: 80ch;
    display: flex;
    flex-flow: row wrap;
    @media (min-width: 40rem) {
      flex-wrap: nowrap;
    }
    justify-content: center;
    align-items: center;
    gap: 1em;
    a {
      flex: 1 1 100%;
      position: relative;
      font-size: 0.75pc;
      text-decoration: none;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      border-radius: 0.5em;
      padding: 0.25em 2em;
      border: 1px solid #0004;
      opacity: 0.75;
      transition: all 0.5s;
      &.expandAll,
      &.expandAnchor,
      &.collapseOthers,
      &.collapseAll {
        &::before,
        &::after {
          content: "▼";
          opacity: 0.25;
          transition: all 0.5s;
          position: absolute;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;
        }
        &::before {
          left: 0.5em;
        }
        &::after {
          right: 0.5em;
        }
      }
      &.collapseOthers,
      &.collapseAll {
        &::before {
          transform: rotate(-90deg);
        }
        &::after {
          transform: rotate(90deg);
        }
      }
      &.anchorTarget {
        border-left-width: 0;
        border-right-width: 0;
        border-radius: 0;
        &::before {
          content: "↳";
          margin-right: 1ch;
        }
        &::after {
          content: "↴";
          margin-left: 1ch;
        }
        &.disabled {
          opacity: 0.125;
          // pointer-events: auto;
          // &:hover {
          //   opacity: 0.75;
          // }
          &::before, &::after {
            display: none;
          }
        }
      }
      &.disabled {
        pointer-events: none;
        opacity: 0.25;
      }
    }
    @media only print {
      display: none;
    }
  }

  section {
    clear: both;
    width: calc(100% - 2em);
    max-width: 80ch;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    border: 0;
    outline: 0;
    border-radius: 2em;
    background: radial-gradient(
      farthest-corner,
      transparentize(white, 0.875),
      transparentize(white, 0.5)
    );
    box-shadow: 2pt 2pt 2pt transparentize($shade, 1),
      -2pt -2pt 2pt transparentize($gloss, 1),
      1pt 1pt 0pt transparentize($gloss, 1) inset,
      -1pt -1pt 0pt transparentize($shade, 1) inset, 0 0 0 1pt $gloss inset;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 2pt 2pt 2pt $shade, -2pt -2pt 2pt $gloss,
        1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset,
        0 0 0 1pt transparentize($shade, 1) inset;
    }
    transition: box-shadow 1s;

    &:after {
      content: "";
      display: block;
      height: 0;
      clear: both;
    }

    .gallery {
      margin: 0;
      padding: 0;
      background: none;
      box-shadow: none;

      &:hover,
      &:active,
      &:focus {
        background: none;
        box-shadow: none;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &::before,
        &::after {
          display: none;
        }
      }
    }

    &.toggleable {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding: 1rem 3rem;
        &::before,
        &::after {
          content: "▼";
          opacity: 0.0625;
          transition: all 0.5s;
          position: absolute;
          top: 0;
          bottom: 0;
          display: flex;
          align-items: center;

          @media only print {
            display: none;
          }
        }

        &::before {
          left: 0;
        }
        &::after {
          right: 0;
        }

        &:hover {
          &::before,
          &::after {
            opacity: 0.25;
          }
        }
      }
      &.collapsed {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          &::before {
            transform: rotate(-90deg);
            opacity: 0.25;
          }
          &::after {
            transform: rotate(90deg);
            opacity: 0.25;
          }
        }
        > *:not(h2, h3, h4, h5, h6, .description) {
          @media only print {
            display: initial !important;
          }
        }
      }
    }

    section {
      border-radius: 1.75em;
      section {
        border-radius: 1.5em;
        section {
          border-radius: 1.25em;
          section {
            border-radius: 1em;
          }
        }
      }
    }

    .duo {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: flex-start;
      text-align: center;
      gap: 1em;

      > * {
        display: inline-block;
        float: none;
        flex: 1 1 20ch;
        width: 36em;
        max-width: calc(100% - 2em);
        // margin: 1em;
        padding: 0 1em;
        vertical-align: top;
      }
      section {
        text-align: left;
      }
      figure {
        &:nth-of-type(1n + 0) {
          float: none;
          margin: 1em;
        }
        li {
          margin: 0.125em 0;
          &:before {
            content: none;
          }
        }
      }
    }

    figure {
      float: none;
      display: block;
      width: 100%;
      max-width: 100%;
      margin: 1em auto;
      transition: all 1s ease-in;

      &.contained {
        overflow: hidden;
        border: 0.125em solid $wg25;
        border-radius: 1em;
        background: $wg25;
        box-shadow: 2pt 2pt 1pt transparentize($shade, 1),
          -2pt -2pt 2pt transparentize($gloss, 1),
          1pt 1pt 0pt transparentize($gloss, 1) inset,
          -1pt -1pt 0pt transparentize($shade, 1) inset,
          0 0 0 1pt transparentize($shade, 0.125) inset;
        &:hover,
        &:focus,
        &:active {
          border-radius: 0.125em;
          box-shadow: 2pt 2pt 1pt $shade, -2pt -2pt 2pt $gloss,
            1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset,
            0 0 0 1pt transparentize($shade, 1) inset;
        }
      }

      img {
        display: block;
        max-width: 100%;
        margin: auto;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
      }
    }

    @media (min-width: 40rem) {
      figure {
        float: left;
        max-width: calc((100% - 2em) / 2);
        margin: 0 1em 1em 0;

        &:nth-of-type(even) {
          float: right;
          margin-left: 1em;
          margin-right: 0;
        }

        &:active {
          max-width: 100%;
        }
      }
      &:nth-of-type(even) figure {
        float: right;
        margin-left: 1em;
        margin-right: 0;

        &:nth-of-type(even) {
          float: left;
          margin-right: 1em;
          margin-left: 0;
        }
      }
      .solo {
        float: none;
        max-width: 100%;

        picture,
        img {
          max-width: 100%;
        }
      }
    }
    @media only print {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
  }

  .gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 1em;
    border: 0;
    outline: 0 solid black;
    border-radius: 2em;
    background: radial-gradient(
      farthest-corner,
      transparentize(white, 0.875),
      transparentize(white, 0.5)
    );
    text-align: center;
    font-size: 1rem;
    box-shadow: 2pt 2pt 2pt transparentize($shade, 1),
      -2pt -2pt 2pt transparentize($gloss, 1),
      1pt 1pt 0pt transparentize($gloss, 1) inset,
      -1pt -1pt 0pt transparentize($shade, 1) inset, 0 0 0 1pt $shade inset;
    &:hover,
    &:focus,
    &:active {
      box-shadow: 2pt 2pt 2pt $shade, -2pt -2pt 2pt $gloss,
        1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset,
        0 0 0 1pt transparentize($shade, 1) inset;
    }
    transition: box-shadow 1s;

    > * {
      flex: 1 1 16em;
    }

    li {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      // width: 16em;
      margin: 0.5em;
      padding: 1em;
      border: 0;
      border-radius: 1em;
      background-color: white;
      text-align: center;
      list-style: none;
      vertical-align: top;
      box-shadow: 2pt 2pt 1pt transparentize($shade, 1),
        -2pt -2pt 2pt transparentize($gloss, 1),
        1pt 1pt 0pt transparentize($gloss, 1) inset,
        -1pt -1pt 0pt transparentize($shade, 1) inset,
        0 0 0 1pt transparentize($shade, 0.125) inset;
      &:hover,
      &:focus,
      &:active {
        box-shadow: 2pt 2pt 1pt $shade, -2pt -2pt 2pt $gloss,
          1pt 1pt 0pt $gloss inset, -1pt -1pt 0pt $shade inset,
          0 0 0 1pt transparentize($shade, 1) inset;
      }
      transition: box-shadow 1s;

      &:before {
        display: none;
      }

      h3 {
        margin: 0;
        padding: 0.5em 2em;
        font: {
          family: "Open Sans", sans-serif;
          size: 1em;
        }
        text-transform: none;
        line-height: 1.5;
      }

      a {
        margin: auto 0;
      }

      img {
        display: inline-block;
        max-width: 16em;
        max-height: 16em;
        margin: 0 auto;
        background: white;
      }

      p,
      p.description {
        margin: 0 auto;
        padding: 0.5em 2em;
        border: 0;
        text: {
          indent: 0;
          align: center;
        }
        line-height: 1.5;
      }
    }
  }
}

.display {
  display: flex;
  flex-flow: column nowrap;
  float: none;
  max-width: 100%;
  height: 100%;
  margin: -1em;
  padding: 2em;
  background: black;
  color: white;

  img {
    max-width: 100%;
    max-height: calc(75vh - 288px);
    margin: 0 auto;
    object-fit: scale-down;
    background: white;
  }

  h2 {
    color: grey;
  }
}

/* Modal image display */
.modal {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0;
  padding: 0;
  opacity: 0;
  background: radial-gradient(black, transparentize(black, 0.0625));
  color: grey;
  font-size: calc(1rem + 1vmin);
  text-align: center;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100vw - 2 * (2vh + 1em));
    max-height: calc(100vh - 2 * (2vh + 5em));
    object-fit: scale-down;
    transform: translate(-50%, -50%);
    border: 1vh solid white;
    box-shadow: 0 0 3em 3em black;
  }

  h2,
  nav {
    display: inline;
    position: absolute;
    z-index: 4;
    top: 0;
    width: auto;
    padding: 2em;
    color: grey;
  }

  nav {
    top: auto;
    bottom: 0;
    background: none;
  }

  a {
    display: inline-block;
    width: 1em;
    margin: 0 1em;
    padding: 0;
    border-radius: 1em;
    background: none;
    color: grey;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 0 0.125em transparentize(black, 1);
    &:hover,
    &:focus,
    &:active {
      text-shadow: 0 0 0.125em black;
    }
    transition: all 1s;
    user-select: none;
    cursor: pointer;

    &:hover,
    &:focus {
      color: white;
    }
  }
}
