@use "./modules/root/root.scss" as *;

@use "./modules/header/header.scss" as *;
@use "./modules/main/main.scss" as *;
@use "./modules/footer.scss" as *;

@use "./modules/lightbox.scss" as *;

@include root;

* {
  transition: all 0.5s;
}

html {
  height: 100%;
  background: black;
  color: var(--ct);
  font: {
    family: "Nunito", sans-serif;
    size: 1pc;
  }
  line-height: 1;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  border: 0;
  color: var(--cm);
  text-decoration: underline;
  text-shadow: 1pt 1pt 1pt transparent;
  cursor: pointer;

  &:link,
  &:visited {
    color: var(--cm50);
  }
  &:hover {
    color: var(--cm55);
  }
  &:active {
    color: var(--cm60);
  }
  &:hover,
  &:active {
    text-shadow: 1pt 1pt 1pt var(--shade);
  }

  img {
    border: 0;
  }
}

code {
  white-space: normal;
}

/* Styles for the header */
@include header;

/* Styles for the main */
@include main;

/* Styles for the footer */
@include footer;

/* Styles for the lightbox */
@include lightbox;
