@use "../root/layout/breakpoints.scss" as *;

/// Styles for the reduced-motion-switcher controls
/// @group main
/// @require {Length} $bp2 - Second breakpoint value
/// @see {mixin} colors - General color variable styles

@mixin reduced-motion-switcher {
  .reduced-motion-switcher {
    /* The container */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: $bp2;
    gap: var(--spacing);
    --dur: 0.5s;

    /* The individual buttons */
    a {
      /* Layout */
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 100%;

      /* Spacing */
      padding: 0.25em 2em;

      /* Borders */
      border: 1pt solid var(--gloss);
      border-radius: calc(0.5 * var(--rounding));

      /* Background */
      background: var(--white);
      opacity: 0.75;

      /* Typography */
      font-size: 0.75rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.125ch;

      /* Reduced motion switchers */
      &.moreMotion {
        @at-root html[data-reduced-motion=no] & {
            opacity: 1;
            outline: 1px solid var(--black);
        }
      }
      &.autoMotion {
        @at-root html:not([data-reduced-motion]) & {
            opacity: 1;
            outline: 1px solid var(--black);
        }
      }
      &.lessMotion {
        @at-root html[data-reduced-motion=yes] & {
            opacity: 1;
            outline: 1px solid var(--black);
        }
      }
    }

    /* Don't show any of this in print */
    @media only print {
      display: none;
    }
  }
}
