@use "./colors/colors.scss" as *;
@use "./layout/layout.scss" as *;

/// Root styles for the site
/// @require {mixin} colors - Color variables
/// @require {mixin} layout - Layout variables
/// @require {function} su - Strip unit from a length
/// @require {function} rfs - Calculate responsive font sizes

@mixin root {
  :root {
    /* Color variables */
    @include colors;

    /* Layout variables */
    @include layout;
  }
}
